[2019-10-12 10:21] aarchiba commented on #339
I think this code was written by someone else and so I really can't guarantee people won't choose variable names like `cp` or `cat` (short for "catalog" which comes up a lot in astronomy).

Bash code won't work in my notebook anyway. Why treat it specially? Surely if someone has administered the hack that lets them use bash code without the ! it's their job to make sure that's visible to jupytext?

[2019-10-12 10:38] mwouts opened #340 "Jupytext could be more selective re. which files are notebook"
Currently the Jupytext contents manager classifies as a notebook every file that has a Jupytext extension. This is probably a bit too inclusive, cf.  #224, #183.

It would be nice to have a function that can tell whether a file is a notebook (e.g. it has some 'jupyter' metadata in the YAML header). We have seen uses cases for this in Jupyter Book (@choldgraf ) and in Voila (@sylvaincorlay).

Once

[2019-10-12 12:06] mwouts commented on #339
Sure. I think we will be able to fix the regexp to make sure that `cat = ...` does not get commented. However, `cat` will still get commented, so maybe that won't solve your issue.

If you are confident that your users don't use magic commands, or if you don't need to run the `.py` file itself, you could give a try to the `comment_magics` option in Jupytext:
[code]
[code]

[2019-10-12 12:11] mwouts commented on #339
Also: the `comment_magics` option defaults to False for the `md` and `py:hydrogen` formats. The latter is the same as `py:percent`, except for these magic commands (as Hydrogen lets you execute them). Maybe you'd want to represent your notebooks in one of these formats?

[2019-10-12 14:03] aarchiba commented on #339
Well, I routinely use `%load_ext autoreload` and `%autoreload 2`, how would those be handled if we turned off `comment_magics`?

Since what we actually need is just a format that won't lead to endless git merge conflicts, and I intend users to interact with the notebooks purely through jupyter-lab, it sounds like (R?) markdown would be a good answer.

This behaviour is still an unpleasant surprise

[2019-10-12 17:47] mwouts commented on #339
Well, the text would be unchanged. That can be a problem if you require your `.py` file to be PEP8 compliant... And also, if you plan to run the `.py` files with something else than IPython.

Markdown is probably a good answer. In R Markdown, the python code is meant to be executed with `reticulate`, so magics commands are commented.

Sure, that deserves a separate investigation, I will have a loo

[2019-10-13 01:22] mwouts commented on #305
@hpmsi1 , would you like to give a try to the new RC? Markdown cells defined with triple quotes should work now, see

https://github.com/mwouts/jupytext/blob/bf6049b9107fef171647345f84364cdb4c5aaf5e/tests/test_read_simple_percent.py#L212-L225

The RC is available on pypi:
[code]

[2019-10-13 01:25] mwouts commented on #321
@choldgraf , a release candidate that includes the fix for the raw cells in the Markdown format is available on pypi:
[code]

I'm not sure you will want to open every Markdown file as a notebook in Jupyter Book again, but in theory this becomes possible with that version. Let me know if you can give it a try!

[2019-10-13 01:37] mwouts commented on #339
@aarchiba , thank you again for raising that subject.

Here is what I found:
- The pattern for magic commands was a bit too wide. Now `cat=...` will not be classified as a magic command any more.
- The pattern for decoding magic commands was not exactly the same as the one for encoding them. That was causing the transformation of the code cell to a Markdown cell when using the `py:light` format.
-

[2019-10-13 01:39] mwouts commented on #336
@choldgraf , I think we're done with this issue, so I'll close it (and #321 is ready now). Please reopen if there's anything I've not answered here.

[2019-10-13 01:39] #336 closed

[2019-10-13 01:44] mwouts commented on #286
Just a quick note for myself - some of the programs above do not accept files on stdin. So maybe we could implement a temp file facility in Jupytext, and allow one to call `pytest` like:
[code]

[2019-10-13 17:19] psychemedia commented on #337
I'm not sure if this is the correct issue for this, but I'm trying out a workflow where I author a module in a notebook as an `.ipynb` file that mixes module code cells with testing code cells, tagged as `active-ipynb` in the notebook file.

I can pair the `.ipynb` file with a `.py` file that I load in as a module, with the `active-ipynb` code commented out in the `.py` file. But I properly want t

[2019-10-13 18:05] choldgraf opened #344 "Standardizing how to add cell metadata between code and markdown cells"
Something I've noticed adds some (I think unnecessary) cognitive burden re: cell tags.

Currently there are two different syntaxes for cell metadata.

* If the cell is a code cell, you provide metadata like so (ignore the backslashes):
[code]
* If the cell is a "region" (aka markdown cell), you provide it like this:

[code]

sometext

[code]

[2019-10-13 18:12] choldgraf commented on #321
Nice! I just opened it and it looks quite good. I still can't open markdown files in JB w/o jupytext metadata, as (at least in the jupyter book docs) it runs all of the jupytext pages, but there are lots of code cells that have syntax highlighting (e.g., `python` cells) but that aren't runnable code :-/

maybe there is some way to mark a code cell as *not* runnable?

[2019-10-13 19:35] mwouts commented on #344
Hello @choldgraf , I like the idea, sure we could use the `key=value` (value being a JSON object) format everywhere in the Markdown file. Indeed it is easier to write. Maybe I'll also preserve the 'title' part, for compatibility with VS Code in which region can have names.

No, I don't think so.

I'd be happy to! Do you have an idea how to do that? Also, you see no issue if Jupytext normalizes the

[2019-10-13 20:02] mwouts commented on #321
Thanks @choldgraf for having a look. Good news!

Well, I'm not sure to see yet why you would want this - do you want to execute only a fraction of the cells, is that it? Anyway, here is what I am thinking of
1. encapsulate the inactive cell in a Markdown region, or
2. add an `active="md"` cell metadata, or an `active-md` cell tag to the cell, or a `{"runtools": {"frozen": true}}` cell metadata, to

[2019-10-13 20:06] mwouts commented on #344
By the way, Chris, do you think we should also review how metadata are stored in the other formats? By simplicity I have used simple JSON there:

https://github.com/mwouts/jupytext/blob/bf6049b9107fef171647345f84364cdb4c5aaf5e/tests/notebooks/mirror/ipynb_to_script/Notebook%20with%20metadata%20and%20long%20cells.py#L42-L49

https://github.com/mwouts/jupytext/blob/bf6049b9107fef171647345f84364cdb4c

[2019-10-13 20:22] mwouts commented on #337
Hello Tony, there's no jupytext filter for this. But maybe you could use `nbconvert`? I just gave it a try and it seems to be able to do what you are looking for.

Say we have this notebook:
![image](https://user-images.githubusercontent.com/29915202/66721866-706ec480-ee07-11e9-860d-03f6961e0954.png)

Then we create a [custom template for nbconvert](https://nbconvert.readthedocs.io/en/latest/custo

[2019-10-13 20:32] mwouts commented on #321
I confirm that the tests on active/inactive cells _do not cover_ the `.md` format, see https://github.com/mwouts/jupytext/blob/bf6049b9107fef171647345f84364cdb4c5aaf5e/tests/test_active_cells.py .

Also, how do you expect that Jupytext could make the cell _not runnable_? Should it turn it into a Markdown cell - probably the most reasonable way to make sure the cell is not runnable in Jupyter, with

[2019-10-14 03:58] mwouts opened #346 "Is the Jupytext notebook extension compatible with Jupyter 6?"
Jupytext is marked as _possibly incompatible_ in the NBextensions configurator (http://localhost:8888/nbextensions). This is probably caused by the release of Jupyter 6.

We should check that the extension works well with Jupyter 6, and mark it as compatible.

[2019-10-14 07:26] mwouts opened #347 "How to specify that a code cell should be inactive in Jupyter in the Markdown format?"
This is a follow-up on an earlier discussion with @choldgraf at #321.

The only way, currently, to have a code cell inactive in Jupyter, is to escape it with Markdown region markers (`` and ``).

It would be more user-friendly to offer a `active-md` tag or metadata to let Jupytext/Jupyter know that a given code chunk should not be executed in Jupyter.

The subject of inactive cells in Jupyter was

[2019-10-14 07:32] mwouts commented on #344
By the way, if we modify this part then maybe we could also offer a more concise syntax for markdown cells. Chris, do you think it would be worth allowing `#md/#endmd` (and `#markdown/#endmarkdown`) to explicitly mark markdown cells? e.g.:
[code]

[2019-10-14 12:37] psychemedia commented on #337
@mwouts Great  - thanks... that looks like it'll do the trick... I'll try to do a post on a workflow that includes this to try to explain why I think it might be useful!

[2019-10-14 16:28] choldgraf commented on #344
A couple quick responses!

Yeah IMO that's fine - I'm just thinking that most people, when they *write* JSON, aren't really thinking in terms of "should I use single or double quotes" etc so it just seems like unnecessary cognitive overhead. Instead it seems we should allow the same behavior that Python would allow in construction a dictionary? (e.g. you can put single quotes within a double-quote

[2019-10-14 16:32] choldgraf commented on #347
I'd be +1 on assuming that "any code blocks that aren't meant to be run should instead be rendered as markdown blocks". That seems like the most-common pattern to me.

[2019-10-14 16:40] choldgraf commented on #340
what if it just supported anything that exists in a `jupyter: ` YAML frontmatter. E.g. if people defined other variables, or if it was simply `jupyter: true` then Jupytext would assume it should parse the document as a Jupyter notebook. And if not, maybe just dump the whole markdown contents into a single markdown cell. This behavior would *not* happen if `jupyter: false` or if there was no `jupyt

[2019-10-14 21:15] mwouts commented on #347
Good! Now, say that we are parsing a Markdown file, and we find something like

[code]

[2019-10-15 00:06] choldgraf commented on #347
In my mind, it's fine not to create a new cell but to just keep it as a part of a single markdown cell, but it'd also be fine if it were easier to split off any "code-fences-in-markdown" chunks into their own separate cells. Does that clarify?

[2019-10-15 00:23] hpmsi1 commented on #305
Great!

Thank you so much for this upgrade.  I will give it a try and let you know.

Kind regards,
Mohammad

On Sat, Oct 12, 2019 at 8:22 PM Marc Wouts <notifications@github.com> wrote:

[2019-10-15 20:07] mwouts commented on #344
Well, maybe I could give a try to `ast.literal_eval(node_or_string)`:

[2019-10-16 00:46] mwouts commented on #344
Hello @choldgraf, I've pushed a few commits to the [markdown_format_update](https://github.com/mwouts/jupytext/tree/markdown_format_update) branch.

With the version in that branch, you can type the metadata as you wish (hopefully!). Give a try to
`` or ``. And let me know if you can find a pattern that breaks the parser!!

With that version all the formats can read metadata in either the key=valu

[2019-10-16 06:20] mwouts commented on #321
The missing tests were added in https://github.com/mwouts/jupytext/commit/55ad5a9bc512c9a4047f13db23a3d0810e445512.

With that commit, the `active` metadata is not lost any more in the Markdown format. But it still has no effect on the Markdown file: this is because, unlike in scripts or R Markdown, cells are never expected to be active in Markdown! We'll see how to answer that specific question a

[2019-10-16 06:20] #321 closed

[2019-10-16 06:24] mwouts commented on #337
I'll soon address this issue. Is everyone OK if I map the R Markdown options to the Jupyter Book ones by default? I also plan to offer an option for those who prefer to map them to the runtool ones.

[2019-10-16 07:23] mwouts commented on #66
Hello here, I just wanted to let you know that we are considering changing how the cell metadata is represented in Jupytext for the next release (version 1.3): we may be using "key=value" (value in its JSON representation) for all the Jupytext formats, and all the cell types, see #344 . And for the files that already use the JSON form, we plan to implement an option to keep the JSON form, to avoid

[2019-10-16 12:36] mwouts opened #349 "Add support for PowerShell"
We could offer support for this language in Jupytext.

PowerShell files have
- a `.ps1` extension
- and use `#` as the line-comment char

Furthermore, a Jupyter Kernel is available at https://github.com/Jaykul/Jupyter-PowerShell

[2019-10-16 17:54] phaustin commented on #349
+1 for this -- we've moved to miniconda with powershell as our recommended install on windows, and it would be nice to be able to demonstrate things like standard command line functions, activating a particular environment, changing the prompt etc.

[2019-10-16 19:21] jjoonathan opened #350 "jupyterlab-jupytext should complain if no jupytext"
If you install jupyterlab-jupytext:

`jupyter labextension install jupyterlab-jupytext`

but DO NOT install jupytext:

`conda install -c conda-forge jupytext  # NOT run`

then the jupyterlab-jupytext extension will let you run around checking "Pair notebook with...", saving, wondering why .Rmd files are failing to appear, uninstalling, reinstalling, trying different versions, generally making a fo

[2019-10-16 19:24] mwouts commented on #349
@choldgraf , I was looking for sample powershell scripts, and instead guess what I found... a beautiful [interactive book](https://docs.microsoft.com/en-us/powershell/scripting/overview) based on a collection of (soon-Jupytext-compatible?) Markdown files, like [this one](https://github.com/MicrosoftDocs/PowerShell-Docs/blob/staging/reference/docs-conceptual/overview.md)!!

Would you be interested

[2019-10-16 20:03] mwouts commented on #349
Great! I'd like to give it a try, but I can't get it to work right now - do you have any documentation on the subject? I'm not sure how I should set the env variables. Now I have `conda` there, but `conda init powershell` fails with a "TypeError: LoadLibrary() argument 1 must be str, not None"...

[2019-10-16 22:17] mwouts commented on #350
Hello @jjoonathan , interesting remark! I'm not so sure how one can do that (detect in the extension that the contents manager is not Jupytext's one), but maybe we can do something simpler, and possibly as helpful...

Let me explain: in most cases, the user should simply NOT INSTALL the jupyterlab-jupytext extension, for the simple reason that the extension is bundled with the python package itsel

[2019-10-16 23:05] #346 closed

[2019-10-17 20:18] jjoonathan commented on #350
Good suggestion, here's a PR.

I looked into adding a check and quickly convinced myself that you were right about it being nontrivial :)

I thought a bit more about why this threw me for a loop. There are several prominent conda packages that do not include their jupyterlab extension (ipywidgets and ipyleaflet spring to mind) and they have trained me to think of jupyterlab extensions as somewhat

[2019-10-18 15:40] choldgraf commented on #344
I quite like it! It works fine for me, I tried a few combinations of varying objects etc and wasn't able to "break" things :-)

That said - one strange behavior I noticed was that if you write python code directly into the values, it'll get executed. e.g., if I write

[code]

Then the output will be "4". That seems vaguely insecure to me, no?

[2019-10-18 16:17] mwouts commented on #344
Thanks @choldgraf . I'm glad you liked it! I do expect the new parser to be more robust than the previous one - hopefully it will even catch parsing errors and [preserve your imparsible inputs](https://github.com/mwouts/jupytext/blob/ce3c45963faa7e8ab5cce5241e2dd9a509e7fb32/tests/test_cell_metadata.py#L152-L154) in a round trip...

Oh, I did not expect that 2+2=4 :smile: ! But it's easy to explain

[2019-10-18 20:42] choldgraf commented on #344
IMO the potential to crash python isn't that big of deal - I really doubt people will use metadata that is this complex (but you never know haha)

For the JSON metadata question - is the idea that if the `cell_metadata_json` is set to True, then it'll expect "old style" JSON in the cell metadata, and if false, jupytext will expect `key=value` metadata? That approach seems reasonable to me (and aga

[2019-10-18 20:52] mwouts commented on #347
@choldgraf , soon I will make sure that the `active-md` tag works for code extracts in Markdown files. But these cells will appear as raw cells in Jupyter (sorry that's not great regarding nbconvert compatibility - that's for consistency with the other formats).

So I think you will prefer another option to leave them as (non-executable) markdown cell. What do you think of something like ` ```pyth

[2019-10-18 21:44] mwouts commented on #344
Sure!

Well, not exactly: the `cell_metadata_json` option is just the format in which the metadata will be _written_ by Jupytext. Whatever the value of the option it will be able to read metadata in either form, key/value or JSON. Only when it writes the notebook back to text, Jupytext will apply that option. Again, the aim here is to minimize the impact of format changes on the existing text note

[2019-10-18 21:57] #347 closed

[2019-10-18 23:37] mwouts commented on #347
@choldgraf , the `.noeval` attribute has reached master:

https://github.com/mwouts/jupytext/blob/d9463f6aa5c751c7953073add969d57744f5bb5f/tests/test_read_simple_markdown.py#L460-L471

[2019-10-18 23:39] mwouts commented on #349
The master branch now has support for PowerShell, cf. https://github.com/mwouts/jupytext/pull/354

[2019-10-18 23:39] #349 closed

[2019-10-19 00:59] mwouts opened #356 "Use the [md], [markdown] and [raw] markers in the light format"
Could we use `# + [md]`, `# + [markdown]` and `# + [raw]` to tag markdown and raw cells in the light format? Can we allow markdown cells with triple quotes as in the percent format (#305) ?

[2019-10-19 01:40] mwouts commented on #344
`key="value"` looks way nicer than the previous `{"key": "value"}` representation! I just regenerated the collection of files that mirror the test notebooks at https://github.com/mwouts/jupytext/commit/79dc08f073fa8b065e57c68618a8ee9b25e89f57 in the [key_value_everywhere](https://github.com/mwouts/jupytext/tree/key_value_everywhere) branch.

On that commit the change is huge and affects every note

[2019-10-19 02:42] choldgraf commented on #344
Wohoo! I agree I think it's much cleaner 😊

[2019-10-19 14:51] daliagachc opened #357 "pair to markdown emulating jupyter-nbconvert --to markdown"
in this way images are saved to in a created folder

[2019-10-19 15:49] aarchiba opened #358 "Mysterious failure in --pipe mode"
I am trying to run jupytext --pipe black *.ipynb and it is working fine on my local machine but failing in Travis CI, where it is very difficult to debug the problem. All I have is the error message:
[code]
The problem is plainly not one of failing to provide a specific extension. My guess is that for some reason black is producing no output? Some more meaningful error message out of --pipe would

[2019-10-19 15:57] aarchiba commented on #339
Well, when I try to run it with --test-strict both ways I get unhelpful tracebacks:
[code]
and
[code]
But if I use `--sync` or provide `--to` it does the right thing, and no longer mangles my input file.

[2019-10-20 06:32] mwouts commented on #356
More generally, could we make sure that, if we replace `# %%` with `# +` in a `percent` file, then it becomes a `light` file that describes the same notebook?

[2019-10-20 06:50] mwouts commented on #358
Hello @aarchiba.

Well, when you run running `jupytext --pipe`, it pipes the notebook in the format `--pipe-fmt` which defaults to `auto:percent`. And for your notebook, `auto`, the script extension that corresponds to the language of your notebook, cannot be determined.

You can fix this by adding `--pipe-fmt py:percent` to your `jupytext --pipe` command.

Now you may also want to know why the no

[2019-10-20 06:51] #344 closed

[2019-10-20 06:53] mwouts commented on #357
hello @daliagachc , well we are thinking of something like this for the version 2.0, see #220 . Is there anything more specific that you'd like to add?

[2019-10-20 06:57] mwouts commented on #339
Oh, I see... the `--to` argument is mandatory here: you want to test the round trip to/from a given format. I'll try to enforce this.

[2019-10-20 08:38] aarchiba commented on #358
Okay I can include `--pipe-fmt`. But just to be clear, when I run `jupytext --sync` on a group of markdown-ized notebooks and it generates `.ipynb` files, do the generated notebooks remember that they are supposed to be associated with the markdown files? If I open them in Jupyter-lab, will it know to keep the versions in sync?

[2019-10-20 09:01] mwouts commented on #358
Yes, they do: that's the `jupytext.format` entry in the YAML header.

[2019-10-20 21:39] #358 closed

[2019-10-20 22:01] mwouts commented on #358
Thanks @aarchiba for your remarks here. I have pushed a few fixes: an improved error message, and also an alternative for computing the extension based on the notebook kernel when the `language_info` metadata is not available. So in the next release you won't have to specify the `--pipe-fmt` argument overall.

[2019-10-21 07:27] daliagachc commented on #357
Hi @mwouts, I read through the post and it seems it would have exactly what i was looking for.
thanks for jupytext! its amazing

[2019-10-21 08:10] mwouts commented on #357
My pleasure! Thanks for using it

[2019-10-21 16:14] hpmsi1 commented on #305
Thank you it works.
One minor new change in the output, thought you should know:
This code produces no line breaks anymore as it used to:
$$
\begin{align}
\dot{x} & = \sigma(y-x)\
\dot{y} & = \rho x - y - xz \
\dot{z} & = -\beta z + xy
\end{align}
$$
output:
𝑥˙=𝜎(𝑦−𝑥) 𝑦˙=𝜌𝑥−𝑦−𝑥𝑧 𝑧˙=−𝛽𝑧+𝑥𝑦

However, this line break issue is fixed by doing this:
$$
\begin{align}
\dot{x} & = \sigma(y-x)\\
\dot{y} & =

[2019-10-21 21:32] mwouts commented on #305
Oh, that's interesting! A line break in tex is `\\` (double backslash), but maybe it should be represented as four backslash when inside a Python string? And maybe `\dot` is not legitimate in a Python string, it should be `\\dot`? I'll have a look!

[2019-10-22 06:24] mwouts commented on #305
@hpmsi1 , in the current implementation Jupytext takes the content of the markdown cell verbatim from the string. So the latex line break is simply `\\`, as in the markdown cell (by the way, I am not sure to see the difference between the two inputs in your example?)

[2019-10-22 18:13] hpmsi1 commented on #305
Thanks, I will use \\ for line breaks.

My comment in edit mode shows the equations ending with \\.  But it changes it to a single slash when I submit it.

[2019-10-22 19:27] mwouts commented on #305
Oh I see! I've edited your comment and used code markers (` ``` `) to preserve the raw text. I'm still a bit puzzle by the line return with a single slash, I'll do a few more experiments about that when time permits, and add the corresponding tests to Jupytext to make sure we understand this well.

[2019-10-23 01:07] hpmsi1 commented on #305
Thank you, very much appreciated.

On Tue, Oct 22, 2019 at 2:27 PM Marc Wouts <notifications@github.com> wrote:

[2019-10-23 20:16] #356 closed

[2019-10-23 20:43] mwouts commented on #305
Hello @hpmsi1 , I have added a test notebook, and made sure that round trips are consistent, whatever is in the markdown cell.

Just to confirm, I found no way to trigger a line break in the LaTeX equation with a single slash. Two backslash seem to be necessary:

![image](https://user-images.githubusercontent.com/29915202/67432090-db798180-f5e5-11e9-9ba4-6b5938ccf240.png)

The notebook is at `test

[2019-10-23 20:45] #305 closed

[2019-10-27 14:25] rsokl commented on #66
@mwouts so what would a rst cell look like now? E.g.,

[code]

Also, what, in general, is your recommended pathway for staying concurrent with Jupytext? I am a bit of an extreme case because I have [*a ton*](https://github.com/rsokl/Learning_Python/tree/master/Python) of jupytext-markdown that I manage for my website. Accordingly, upgrades are a relatively risky/costly prospect for me since I can'

[2019-10-27 19:21] mwouts commented on #66
Hello @rsokl , thanks for pointing at your use case, that's very interesting. My expectation is that you _won't have to do anything_. Indeed, Jupytext 1.3 will know that the format used to encode the notebook is the previous one, thanks to the YAML header which includes a format version number.

In order to make sure that this really works, I'll add a few additional unit tests, and prepare a relea

[2019-10-27 19:45] mwouts commented on #66
Hello again @rsokl , the new test is [here](https://github.com/mwouts/jupytext/commit/6936dc7c58b190afdb9a27872193d30c16dc73b7): when reading a file in Jupytext Markdown version 1.1, Jupytext parses raw cells like yours:

https://github.com/mwouts/jupytext/blob/6936dc7c58b190afdb9a27872193d30c16dc73b7/tests/test_read_simple_markdown.py#L280-L284

When it writes it back to `.md` in format version 1

[2019-10-27 20:49] pinggit commented on #290
I tried
[code]
but it does not work....

[2019-10-28 07:11] mwouts commented on #290
I see - the notebook name was missing on the second command. Give a try to
[code]
If you have another issue, please quote the outputs of the command. Also it's often helpful to know which version of Jupytext you are using (`jupytext --version`).

[2019-10-28 23:02] mwouts commented on #337
Hello @grst , I've updated the mapping between the R Markdown options and the runtools ones. Can you confirm that the mapping below is what you would have expected?

https://github.com/mwouts/jupytext/blob/e51924972c6bb40d1779d8780eceec9aa72ed230/tests/test_hide_remove_input_outputs_rmarkdown.py#L8-L27

Soon I will add the translation between the R Markdown options and the Jupyter Book tags (and t

[2019-10-29 13:15] psychemedia opened #365 ".md round-tripping Broken on %%python3 magic"
Just noticed this in a notebook that uses `%%python3` magic to demonstrate code execution in separate cells.

If I'm editing a markdown file in Jupyter notebook UI under Jupytext, if I have a code cell:

[code]

if I save the file and then reopen it, the `%%python3` block cell magic has been stripped.

[2019-10-29 13:47] mwouts commented on #365
Thanks @psychemedia for reporting this. I will have a look.

[2019-10-29 23:56] mwouts commented on #365
@psychemedia , I was able to reproduce (and fix) this. In the next release that should work. Note that the cell magic is absent from the [Markdown representation](https://github.com/mwouts/jupytext/blob/c4d7477358f4af3554db2dbfb500830fb8d1b7a3/tests/test_read_simple_markdown.py#L595-L623), as `python3` becames the cell language, i.e. that cell starts with ` ```python3` instead of ` ```python`.

[2019-10-29 23:58] #339 closed

[2019-10-30 07:22] grst commented on #337
Sorry the delay. The test LGTM.

For the jupyter book tags, I think it doesn't matter too much.
Maybe `remove` would be the proper semantics, as afaik, the content is actually removed and not hidden, e.g. in a collapsable element.

[2019-10-30 07:45] #365 closed

[2019-10-30 16:48] mwouts commented on #337
Thanks Gregor. Sure, I agree. And anyway if later on someone wants to map the Jupyter Book `hide_*` tags to their R Markdown counterpart, or reversely, we can still add another option to do so...

[2019-10-31 07:03] #357 closed

[2019-10-31 07:08] mwouts commented on #350
Thanks @jjoonathan for the pull request. Let me reopen this to make sure that I don't forget to include that in the next release. In addition to your PR, I plan to
- be even clearer than most users do not need to install the extension (as it is bundled with the python package)
- document the last version of each part of Jupytext (pip versus npm, I was asked a few time why the version numbers diffe

[2019-11-01 01:25] hqabcxyxz commented on #92
In my server,beside `500: Internal Server Error`,I notice that `nbextensions` disappeared, I think some thing wrong with `nbextensions`,so I just run `conda update nbconvert`, it worked..

[2019-11-01 05:48] mwouts commented on #338
Hello @lwasser , could you please give a try to the following `.git\hooks\pre-commit` hook?
[code]

I have just [tested it](https://github.com/mwouts/jupytext/commit/e375c9ea0eec183f067e3ef050ff27a86692d7af)  and it seems to work fine. If you confirm that it also works in your context, I'll update the documentation. Thanks!

[2019-11-01 15:25] pinggit opened #369 "how to specify python format (light, percent, hydrogen) via CLI?"
my workflow is like this:
start my test with py in my IDE
once done, sync to md and ipynb
then documenting mainly in md, when done, sync to py and ipynb
currently I can only specify in UI which python format to select when converting from md.
how can I do it in CLI?

[2019-11-01 15:31] pinggit commented on #369
found the magic...
jupytext --set-formats ipynb,md,py:percent --sync file.md

[2019-11-01 15:31] #369 closed

[2019-11-01 15:37] pinggit opened #370 "percent vs hydrogen"
I don't see any difference between percent and hydrogen format. are they the same?

[2019-11-02 09:05] mwouts commented on #370
Almost. The difference is documented at the end of the paragraph on the [percent format](https://jupytext.readthedocs.io/en/latest/formats.html#the-percent-format): in the hydrogen format, Jupyter magics are not commented, as they are valid instructions within the Hydrogen plugin for Atom.

[2019-11-02 16:52] #286 closed

[2019-11-02 17:23] mwouts commented on #297
Hi @lebigot , I have a PR (#372 ) in which ipython help commands are commented out in the python representation. To avoid issues with question marks in Markdown cells, the presence of such help calls will trigger explicit cell markers on the cell. In other words,

[code]
is a markdown cell, and
[code]
is a code cell with content `float?`.

[2019-11-02 22:12] #297 closed

[2019-11-03 16:23] rsokl commented on #66
@mwouts that sounds great! Thank you for adding the test case. I tested round-tripping a ipynb generated from markdown version 1.1, via markdown version 1.2, and everything looks to be in order.

[Here](https://github.com/rsokl/Learning_Python/pull/114) is the current PR that would update all of my jupytext-markdown. Indeed it looks like only the raw cells are being updated.

[2019-11-03 17:43] mwouts commented on #66
Excellent! Thank you @rsokl . I have more questions, sorry...
- was it easy to prepare the PR above? Can we use something like `jupytext --to md *.md` ?
- would you be open to testing with another RC? I hope to be able to publish `1.3.0rc1` soon, and there have been many changes since `1.3.0rc0`...

[2019-11-03 21:24] #290 closed

[2019-11-03 21:24] #350 closed

[2019-11-03 21:27] mwouts commented on #329
Closed with #374

[2019-11-03 21:27] #329 closed

[2019-11-08 02:58] lwasser commented on #338
@mwouts i will give this a go!! been a bit busy but i'll absolutely test it and will get back to you here !! i'm excited to see how it works.

[2019-11-08 07:35] mwouts commented on #66
I see! Very interesting. Well, I just released the rc1, so if you can give it a try that would be very nice (`pip install jupytext==1.3.0rc1`).

On my side I tested `jupytext --to md Python/*/*/md` on your repository, it seems to work [as expected](https://github.com/mwouts/Learning_Python/commit/3568ef2f0850664eccbbc8b2530f9d7d1476b545).

Thanks for sharing your script. Note that if you like, you

[2019-11-08 07:45] mwouts opened #376 "Jupytext should not remove metadata from the YAML header in text files"
The file `funnel-charts.md` contains a `plotly` entry in the YAML header, but a round trip in Jupytext [removes it](https://github.com/mwouts/plotly.py-docs/commit/335c5d1ceea263d36da2cfe895fcf3c6b901feeb#diff-79a654256c6b0d4336e702730725dc0c).

It would be cleaner if Jupytext could add a filter to make sure that the `plotly` section remains there.

[2019-11-08 07:48] mwouts commented on #365
Hello @psychemedia , this has been included in the latest RC, available with `pip install jupytext==1.3.0rc1`. Would you like to give it a try? Thanks

[2019-11-08 07:48] mwouts commented on #337
Hello @grst, I have just released a new rc (`pip install jupytext==1.3.0rc1`). Would you like to give it a try? Thanks

[2019-11-08 07:49] mwouts commented on #297
Hello @lebigot , this has been included in the latest RC, available with `pip install jupytext==1.3.0rc1`. Would you like to give it a try? Thanks

[2019-11-08 07:53] mwouts commented on #290
Hello @githubpsyche , this has been included in the latest RC, available with `pip install jupytext==1.3.0rc1`. Would you like to make sure it works as you expect?

For a screenshot, see the [release notes](https://gist.github.com/mwouts/724efe5e00654fc2145a4c916796e071).

[2019-11-08 10:50] grst commented on #337
Actually, now I get a parsing error on a [file](https://github.com/grst/reportsrender/blob/76d82de4bac8248882b6e007c166cfa8338f2085/tests/notebooks/02_analyze_data.Rmd) that used to work fine:
[code]

[2019-11-08 11:10] psychemedia commented on #365
@mwouts Seems to work fine for me now.. thanks 👍

[2019-11-08 11:18] psychemedia commented on #337
Just to try to provide some linkage between related issues across several projects, I notice that `nbsphinx` has had open issues and PRs on handling hidden cells for some time. For example, https://github.com/spatialaudio/nbsphinx/issues/303

*In terms of workflows and generalising publishing opportunities outside the production of documentation (which has its own set of concerns) I think it's use

[2019-11-08 11:25] mwouts commented on #337
Thanks @grst for reporting this, I'll have a look.
Thank you @psychemedia for the link to the nbsphinx PR on hidden cells - I'll think about that!

[2019-11-08 11:28] mwouts opened #377 "Jupytext replaces CRLF line breaks with LF on Windows"
And because of this, git (configured with
`git config --local core.autocrlf true`) thinks that the file has changed:
![image](https://user-images.githubusercontent.com/29915202/68473337-00473900-0223-11ea-8be7-e9b3c4c4cee4.png)

[2019-11-09 10:23] mwouts commented on #337
Gregor, indeed the backward compatibility switch (triggered by 'format_version: 1.1') for the Markdown format was also affecting the R Markdown format... I've fixed that with https://github.com/mwouts/jupytext/commit/17c9d34b0a2a43ec7229713b307beb448d8304f8.

[2019-11-09 10:23] #337 closed

[2019-11-09 10:34] grst commented on #337
Thanks for fixing!
I confirm it works as expected now on the current master branch.

On Sat, 9 Nov 2019 at 11:23, Marc Wouts <notifications@github.com> wrote:

[2019-11-09 17:08] #376 closed

[2019-11-09 22:31] rsokl commented on #66
Wow all of the conversions are *much* (~100x) faster when I call from `jupytext.cli.jupytext` instead of subprocess! That's great.

I have a [PR open](https://github.com/rsokl/Learning_Python/pull/118) where I did the direct md -> md conversion, and it looks clean (like what you have in your PR).

One thing to note is that things are slightly different when I do
[code]
For example, the diff for `P

[2019-11-10 11:46] mwouts commented on #66
Hello @rsokl , thanks for paying that much attention to the details! That's a precious feedback.

I think that the removal of the `region/endregion` markers when you do `md -> (1.1) -> ipynb -> (1.3) -> md` is caused by the code blocks. For example, in the first instance the markdown cell contains a ` ```shell` code block, and in the second one it contains a ` ``` ` block. In Jupytext < 1.3 these

[2019-11-11 14:22] rsokl commented on #66
@mwouts Great! Everything looks good then. Thanks so much for the help / advice - keeping my project in sync with jupytext is quite straightforward now!

[2019-11-11 15:21] beenje opened #381 "Use jupytext with jupyterlab-gitlab or jupyterlab-github"
The [jupyterlab-github](https://github.com/jupyterlab/jupyterlab-github) and [jupyterlab-gitlab](https://gitlab.com/beenje/jupyterlab-gitlab) allow to access notebooks from GitHub or GitLab repositories. Notebooks can be run directly from the remote repo.

I installed jupytext and local .md and .py files can be opened as notebooks by using the "Open With -> Notebook" menu.
But when using the jupyt

[2019-11-11 16:22] mwouts opened #382 "Jupytext --execute fails in subfolder"
If I test/execute a notebook in a subfolder, then the notebook can't read files located in the same subfolder - it seems that Jupytext executes the notebook from its current directory instead.

[2019-11-11 17:48] mwouts commented on #377
Jupytext on the command line uses `open` with no newline argument, and therefore writes files with CRLF line breaks.

Jupytext's contents manager uses Jupyter's default file manager functions for opening and saving text files, and it seems that these one write with LF line breaks (to reproduce: open a text file with the text editor in Jupyter notebook, save it, then its line breaks are turned to L

[2019-11-11 17:48] #377 closed

[2019-11-12 07:57] mwouts commented on #381
Hello @beenje , well this is an interesting question. So, if I understand correctly, the extension allows you to browse github or gitlab repo (cf. your screenshot [there](https://gitlab.com/beenje/jupyterlab-gitlab/raw/master/gitception.png)), but you don't have the context menu there? Also, can you tell us whether Markdown files have a text, or a notebook icon?

To give some more context:
- The c

[2019-11-12 08:35] beenje commented on #381
The icon of the Markdown files  in the GitLab repository is not changed. It still appears as text icon (not notebook).
The GitLab and GitHub extensions defines a Drive that implements [Contents.IDrive](https://jupyterlab.github.io/jupyterlab/services/interfaces/contents.idrive.html). I guess this doesn't use Jupytext's content manager.
Not sure how we can plug it there.

Maybe @ian-r-rose who deve

[2019-11-12 09:50] mwouts commented on #381
Oh good, so this issue may be independent of the other issues I linked above. Sure, we need to understand how the idrive interface works.

According to the documentation, _The interface for a network drive that can be mounted in the contents manager_, I would be tempted to think that the file is still read by the contents manager, but maybe `model['type']` is overwritten in IDrive at some point?

[2019-11-12 13:36] beenje commented on #381
There is a [gitLabContentsToJupyterContents](https://gitlab.com/beenje/jupyterlab-gitlab/blob/master/src/contents.ts#L581) function to convert the content from the repo to Jupyter contents. In that [function](https://gitlab.com/beenje/jupyterlab-gitlab/blob/master/src/contents.ts#L640) we force the type to "file". But it still works for notebooks (they have the proper icon). So I probably don't un

[2019-11-12 15:21] ian-r-rose commented on #381
The `IDrive` interface is purely client-side. The `jupyterlab-github` extension does have a small server-side component, but it is currently just used to attache authentication information to the GitHub requests. The same appears to be the case for `jupyterlab-gitlab` (and thanks for making that @beenje!).

For that reason, I would think that using the `jupytext` contents manager would be pretty c

[2019-11-12 20:00] chrisjsewell opened #383 "Markdown conversion: metadata conversion issue"
Heya, using version `1.3.0rc1`, code cell with metadata of the form:

[code]

Is converted to:

[code]
[code]
Unreadable Notebook: /.../Untitled.Rmd RMarkdownOptionParsingError('Option line "a=b, c, d=e" has no name for option value c',)
[code]

[2019-11-13 05:32] mwouts commented on #383
Indeed! Thanks @chrisjsewell for reporting this. I'll have a look.

[2019-11-13 07:26] mwouts commented on #381
Hello @ian-r-rose , thanks for joining the conversation!

I agree. But that's a nice challenge. The most difficult part is certainly to find out how to connect to the (Python) contents manager. Currently I have no pointer - I don't even know how to detect in TypeScript that the contents manager is Jupytext's one (#350)... maybe that could be a simpler target to start with?

Jupytext's contents man

[2019-11-13 16:48] grst opened #384 "Per-project configuration"
I started wondering if a per-project configuration of jupytext would be possible using a config file.

For instance, there could be a `.jupytext` file in the root of each of my git repositories that defines, for instance, what format I want to pair with and which metadata to filter.

My use-case is, that for a certain project I work with `Rmd` files, in another I would prefer to store the document

[2019-11-13 19:21] mwouts commented on #384
Hello @grst , this is certainly a great idea! I also note that at #238 we discussed a similar subject (global configuration). Do you know how we could implement that? I mean, do you have recommendations on which Python tools/package we could use to read these configuration files?

[2019-11-13 20:24] grst commented on #384
How about [TOML](https://github.com/toml-lang/toml)?

[2019-11-14 05:27] mwouts commented on #384
Thanks, indeed TOML seems to be a great fit for this. And I agree, we could indeed check the parent directories.

Now what, in your opinion, should be in the `.jupytext` file? Should we mirror the options that are currently used in the [contents manager](https://github.com/mwouts/jupytext/blob/master/jupytext/contentsmanager.py)? Also, do you agree that the options in the local `.jupytext` files s

[2019-11-14 06:33] #383 closed

[2019-11-14 06:40] grst commented on #384
In my opinion

- The `.jupytext` file should be completely optional (and fall back to defaults or a global configuration file if it doesn't exist)
- The `.jupytext` file should take precedence over the global configuration
- It should be possible to set all options that can be set in the contents manager or the metadata also in the `.jupytext` file.

Concerning global configuration: For now, the c

[2019-11-14 07:49] #382 closed

[2019-11-14 07:49] #370 closed

[2019-11-14 08:02] #338 closed

[2019-11-14 08:06] mwouts commented on #338
Hello @lwasser , I have added your question, and the [proposed answer](https://jupytext.readthedocs.io/en/latest/faq.html#i-have-modified-a-text-file-but-git-reports-no-diff-for-the-paired-ipynb-file), to the FAQ:

I think this should work well - please let me know if you find the opposite!

[2019-11-14 08:14] mwouts commented on #383
Hello @chrisjsewell , could you give a try to the latest RC?
[code]
Also, @grst , do you mind to test it as well? I'd like to make sure that you're not affected.

[2019-11-14 08:38] grst commented on #383
Works for me!

[2019-11-15 08:15] mwouts commented on #381
@ian-r-rose , @beenje , as you explained the Python contents manager is not called when we open a document with either the github or the gitlab extension. Now, the only thing that we have to do to convert a text document to a notebook is to call e.g. `jupytext.reads(text, fmt='md')` where `text` is the file content. Do you think we could use a server extension for that?

[2019-11-16 10:47] joelostblom opened #388 "How to set global folder prefix?"
I would like to always save a `.py` copies of notebooks in a `scripts` folder at the same level as the notebooks. I can achieve this for a single notebook with

[code]

but I can't find a way to include this in the global configuration. I have tried appending the following lines to `~/.jupyter/jupyter_notebook_config.py`:

[code]

and

[code]

separately and together, but in all cases the `.py` fi

[2019-11-16 12:25] mwouts commented on #388
Hello @joelostblom , thanks for your question.

My expectations on this are documented at [test_contentsmanager.py:518-602](https://github.com/mwouts/jupytext/blob/8e11f46f316604a22e8c7f83aebebf23e6886ad2/tests/test_contentsmanager.py#L518-L602). Comparing with what you have, I think we're very close... would you mind giving another try with either
[code]
or
[code]
cf. the first and second tests l

[2019-11-16 14:39] joelostblom commented on #388
Thanks @mwouts! While reading your answer I realized that I made an error in how I tested the configuration. I had already created and paired notebooks and were expecting their script location to change as I changed the default jupytext behavior (which of course does not make much sense). I now tried your and my previous solutions by creating new notebooks and it works as expected. Sorry for the n

[2019-11-16 14:39] #388 closed

[2019-11-16 16:24] mwouts commented on #388
Oh I see! No problem. It's always good for me anyway to double check that this does work as intended... Thanks for the confirmation.

[2019-11-16 16:48] mwouts commented on #260
Hello @choldgraf, I just [gave a try to wordcloud](https://github.com/mwouts/jupytext/blob/word_cloud/demo/Jupytext's%20word%20cloud.py), that was fun... what do you think of the image below? Not really a logo, but maybe that could already fit well as a welcome page on the documentation.

![image](https://user-images.githubusercontent.com/29915202/68996349-0c716d00-0899-11ea-83b4-6a19e844c4c2.png)

[2019-11-16 19:12] choldgraf commented on #260
Well, this definitely violates every rule I've ever been taught about logo design 😂 but I really like it as a *replacement* for a logo until one gets designed :-) I think it's quite clever!

[2019-11-17 09:42] mwouts opened #389 "Flatten nested metadata in text"
That was a suggestion by @chrisjsewell at https://github.com/ExecutableBookProject/meta/pull/12: we could represent `slideshow={"slide_type": "fragment"}` by `slideshow.slide_type="fragment"`

[2019-11-20 06:31] mwouts commented on #335
The timestamp update could be limited to the cases when
- output is `.ipynb`
- and the notebook is a paired notebook.

[2019-11-20 07:36] #335 closed

[2019-11-25 21:20] mwouts opened #392 "Message 'Notebook Changed' when saving notebook with multiple pairing"
To reproduce,
- open a `.md` document
- pair it with a `.ipynb` document
- pair it with a `.py` document, and save the notebook
- modify the `.py` document in another editor, reload the notebook
- and save again

[2019-11-26 21:58] timothymillar opened #393 "Enable Jupytext formats without changing default behavior"
Hi,
thanks for Jupytext

I manage a Jupyter Hub server for many users at my workplace and I'm interested in installing Jupytext globally.

The issue I have is that Jupytext changes the default opening behavior in the classic notebook interface.
I think this will lead to confusion for many users who will likely want to stick to the classic interface and use the basic editor for readme files etc.

I

[2019-11-26 22:08] timothymillar commented on #393
My mistake this is a duplicate of #224 and #183

Based on those threads the best option is to set `c.ContentsManager.notebook_extensions = "ipynb"` in the global configuration and let users add aditonal formats in their own configuration

[2019-11-26 22:08] #393 closed

[2019-11-26 22:30] timothymillar commented on #340
@mwouts personally the main thing that attracted me to jupytext was the ability to edit a script as a notebook without having to add additional metadata.

My interpretation of #224 and #183 is that they are issues with changing the default open behavior for non `.ipynb` files rather than issues with which files *can* be opened as notebooks.

I think the current integration in jupyterlab is the ide

[2019-11-26 23:20] akhmerov commented on #119
I like the idea of converting rst to a notebook, especially because this would allow to edit rst files in jupyter environment. However rst is a richer format, and allows more than markdown. The notebook format has markdown postulated in it, and therefore I'm not sure how such a conversion would work.

[2019-11-27 06:03] mwouts commented on #393
Hello @timothymillar , thanks for sharing your use case. I think the solution you have adopted is the simplest one (and by far, as the alternative would have been to let the users install the three extensions themselves: server extension, notebook extension, lab extension...).

And also, unlike the alternative, your choice already allows you users to use paired notebooks - the only limitation is t

[2019-11-27 19:52] mwouts commented on #119
Yes, I think it would help many people if we could offer that. However, as you note, it's not clear how the rST document would look like in Jupyter - should the rST content be converted to Markdown, or not? I think it's very important to preserve the round trip (i.e. you don't want your document to change just because you opened it in Jupyter), so the default should probably be to _not converting_

[2019-11-28 09:18] akhmerov commented on #119
My (rather utopic) preference would be if jupyter *notebook format* was supporting multiple markup languages, https://github.com/jupyter/nbformat/issues/80#issuecomment-457617243. I don't think there are tools for converting markdown to rst and back with decent round trip consistency, so I indeed agree that not converting the text is the best.

Looking at the rst spec, there seems to be a `meta` d

[2019-11-30 12:37] mwouts opened #394 "Build failing on Python 2.7 and 3.4"
The [latest build](https://travis-ci.com/mwouts/jupytext/builds/138765451) fails for Python 2.7 and 3.4. The test in error is
[code]
and the error is that the YAML header has changed slightly:

[code]

[2019-11-30 12:41] mwouts commented on #394
What these tests have in common is that they install pandoc from conda. So we may be seeing here a side effect of using the latest release of pandoc.

[2019-11-30 20:42] #394 closed

[2019-12-05 11:57] mwouts opened #397 "New 'nomarker' format for scripts"
I'd like to have the option to pair a notebook, directly from the UI, to a 'nomarker' format.
(i.e. rename the current `bare` format to `nomaker`, and add an entry point in the menu/extension)

[2019-12-11 13:15] albham commented on #8
Hello. Thank you for the wonderful work on JupyText.

There is a configuration option (in configuration file for example) to open .Rmd as notebooks by default?

[2019-12-11 20:59] mwouts commented on #8
Hello @albham , sorry we don't know how to do that in Jupyter Lab yet. For now you have to either use Jupyter Notebook, or to use the right-click approach. If you want to get updates on the subject, I suggest that you subscribe to #271 (that one is for `.md` files, but obviously when we find out how to do `.md` files, we'll do `.Rmd` files as well).

[2019-12-12 15:02] joelostblom opened #398 "Refrain from changing file type icons"
What do you think of retaining the original file type icons instead of changing them? I find it somewhat confusing that Jupytext changes the icons of all available file types, as it has not changed the files to notebooks, merely granted us the possibility to open them as such. This added functionality is suitably made available through the right click menu, but the default double click behavior is

[2019-12-12 15:05] joelostblom commented on #398
To clarify, I am mostly thinking about JupyterLab with the above. The behavior in the classic notebook seems to be a little different, but I don't use the classic notebook often and I am not sure what makes the most sense there.

[2019-12-13 08:15] mwouts commented on #398
Hello @joelostblom , sure this makes sense. At the current stage we have too little control on how JupyterLab displays the different file types - we do not deliberately change the icon, all what we do is we return a file type `notebook` for files with extensions in `c.ContentsManager.notebook_extensions`.

Without this file type, as you noticed, Jupyter will not let you open the file as a notebook

[2019-12-13 10:38] grst commented on #398
No idea, sorry.
Getting the context menu to run was just a minimally invasive hack.

Back then I had the feeling that ideally the logic of how to open a file could be delegated to the jupytext extension, but I don't know how to do that.

[2019-12-13 11:45] mwouts commented on #398
Yes, that's an interesting idea, thanks @grst . I'll think about that.

[2019-12-13 20:01] MPKonst opened #399 "Strange behaviour for --set-formats after --to py:percent"
I am having the following issue when I use the CLI for jupytext.
While in a folder `notebooks` containing a single file `notebook_first.ipynb` the following:
[code]
thows a `KeyError: 'formats'`. If I only run the second command, things work fine, that is, `notebook_first.py` is created and the formats are set.

I noticed also that in the opposite direction there is no such problem. That is, if I

[2019-12-13 23:22] joelostblom commented on #398
Ah I see, thanks for the clarification. I noticed from grst's [previous comment](https://github.com/jupyterlab/jupyterlab/issues/4924#issuecomment-406271563) that opening files and setting the file icon are handled by separate functions in JupyterLab. Maybe that lowers the barrier for a change upstream in JupyterLab to set the icon based on the file extension instead of the registered file type? I

[2019-12-14 16:00] mwouts commented on #399
Thank you @MPKonst for reporting this. I'll have a look soon!

[2019-12-14 21:37] matthew-brett opened #400 "Record cell language in cell dictionary?"
I'm relying in Jupytext more and more these days.

I teach R, and I set exercises in R notebooks.

I'd really like to switch to Jupytext to parse the R notebooks.  In fact, this already works pretty well.  The feature I'm missing at the moment is a record of the code language for a cell.  I mean, if there is this in the Rmd file:

[code]

Then I get this from a Jupytext load:

[code]

I'd like to

[2019-12-15 10:38] mwouts commented on #400
Hello @matthew-brett , thanks for the feedback!

The cell language is at `cell.metadata['language']`, but only when the language for that cell does not match the default notebook language - that's why you don't see it in your example.

And the default language for the notebook is accessible with:
[code]

Now if you redo the above with three cells: two R, one Python(*), you will see that the Python

[2019-12-15 10:40] matthew-brett commented on #400
Aha - excellent - yes - I had found the 'main_language' - but now I know the logic, that solves it, thanks.

[2019-12-15 10:40] #400 closed

[2019-12-15 10:42] matthew-brett opened #401 "Consider document line numbers from text file parsing?"
This is really speculative, and please feel free to close this one, but when I do my manual parsing of Rmd files, I keep the line numbers at which cells / chunks start and end, for error reporting and other things.    Do you think there is any easy way to keep this information in the Jupytext parse of an (e.g.) Rmd notebook?

[2019-12-15 11:00] mwouts commented on #401
If we were to do that, we could use the `pos` variable internal to `jupytext.reads` (see below), which stores the line number at which the next cell is located. You'd have to increment it - the actual starting position of a cell is probably the sum of `pos` that preceed it.

However, I'd prefer not to add additional metadata to the notebook cells (in part because that information will be outdated

[2019-12-15 11:12] matthew-brett commented on #401
Yes, that's very reasonable - thanks for the pointer.

[2019-12-15 11:12] #401 closed

[2019-12-16 09:44] parmentelat opened #402 "library for reading the py:percent format, and metadata encoding"
Hello there

First of all, **thanks** for coming up with this very nice idea :)

I have a question regarding the contents of a notebook metadata; we use it in our system to attach some kind of friendly title to each notebook,

I am currently tweaking the tool that takes advantage, and thus has to read, this metadata, to go from JSON-only to a world with jupytext-enabled notebooks; reading JSON is

[2019-12-16 22:25] mwouts commented on #402
Hello @parmentelat , if you know `nbformat` then you can give a try to `jupytext.read(s)` and `jupytext.write(s)`, they are briefly documented https://jupytext.readthedocs.io/en/latest/using-library.html, and they also work for `.ipynb` files.

Where do you store your notebook metadata? Jupytext can preserve all the notebook metadata if you want, see https://jupytext.readthedocs.io/en/latest/forma

[2019-12-16 22:37] parmentelat commented on #402
Awesome, thanks a lot, that's exactly what I need :)

[2019-12-16 22:37] #402 closed

[2019-12-20 07:02] zhuoqiang opened #404 "empty line in notebook metadata section prevent it from openning"
jupytext seems remove the indent space in empty lines when syncing the metadata from ipynb to python file. And empty line in YAML, while legal, prevent jupytext from working with error message:

[code]

reproduce step:

1. create a new python file with following content:

[code]
it configs the jupytext to use percent format and """\n \n""" as the markdown seperator.
note that there are **indent sp

[2019-12-21 10:01] mwouts commented on #404
I see! Thank you @zhuoqiang for reporting this, and for the associated PR. I will review and integrate this soon.

[2019-12-23 02:46] zhuoqiang opened #406 "Auto refresh notebook cell after paired file been modified"
right now, when notebook cell changed, the paired file will be auto updated, but not vise versa.

It would be great if jupytext could update the modified cells when paired file been updated, and even auto re run the cell (configurable).

[2019-12-23 06:40] mwouts commented on #406
Hello @zhuoqiang , thanks for discussing this.

Right now the synchronisation between the two files only occurs when 1) you save the notebook in Jupyter or 2) you reload the notebook in Jupyter (ipynb is updated in memory only) or 3) you run `jupytext --sync`. See also https://jupytext.readthedocs.io/en/latest/faq.html#i-have-modified-a-text-file-but-git-reports-no-diff-for-the-paired-ipynb-file

[2019-12-23 06:40] #404 closed

[2019-12-23 07:10] zhuoqiang commented on #406
My workflow is like this:

1. Edit the paired python file in Emacs
2. Refresh the corresponding notebook in browser to get the updated content
3. Re run the updated cell

jupytext does a great job to sync and update the notebook file when paired python source file changed, however I still have to do step 2 and step 3 manually.

Ideally, step 2 could be done automatically, that is trigger a reload

[2019-12-26 14:32] mwouts commented on #399
At #407 we have one test that reproduces this, together with the fix. Thanks @MPKonst for your feedback!

[2019-12-26 15:19] #399 closed

[2019-12-26 16:41] #397 closed

[2019-12-29 10:34] MPKonst commented on #399
Thanks for addressing this, Marc. Happy holidays!

[2020-01-07 19:38] lwasser commented on #338
@mwouts question for you. can you do the same thing with a yaml file that will sync for everyone in a github repo? here is one: https://github.com/earthlab/earthpy/blob/master/.pre-commit-config.yaml that we use to run black for example? it's nice because it's not a hidden file in this case. i am just not sure how to add a command to this file... i'll googling now.

[2020-01-07 23:58] lwasser commented on #338
@mwouts just wanted to followup again ... we are playing more with the pre-commit approach. for some reason my colleague @jlpalomino ran into this when trying to commit something that had both notebooks and images. have you seen this before by chance? ANd if so is there a clever way to ignore some file extensions when running this as a pre-commit?

i haven't had time to play with this extensively

[2020-01-08 03:48] mwouts commented on #338
Hello @lwasser, thanks for asking. We have a short paragraph on [using Jupytext with the pre-commit package manager](https://jupytext.readthedocs.io/en/latest/using-cli.html#using-jupytext-with-the-pre-commit-package-manager) in the documentation, does that help with your first question?

Regarding the issue with the pre-commit mode and non-notebook file extensions, I can reproduce the issue. Than

[2020-01-08 05:09] mwouts opened #412 "Jupytext CI fails on pypy"
For instance, the test `test_load_save_rename_non_ascii_path` fails with the error `UnicodeEncodeError: 'ascii' codec can't encode character u'\xf4' in position 74: ordinal not in range(128)`. Cf. https://www.travis-ci.com/mwouts/jupytext/jobs/273367762

[2020-01-08 08:55] mwouts commented on #338
This should be fixed now in Jupytext 1.3.2. Thanks for letting me know!

[2020-01-08 19:00] kaarelmand opened #413 "Jupytext commands not showing up in Jupyterlab"
I installed python 3.7.6, Jupyterlab 1.2.4, and Jupytext 1.3.2 through Conda, but when I restart Jupyterlab and search for Jupytext commands, none are showing up (see attached image). I also tried rebuilding Jupyterlab manually, but that didn't help. I am reasonably sure that I'm using the same Conda environment I installed Jupytext to, to launch Jupyterlab.
![screenie](https://user-images.githubu

[2020-01-08 20:07] kaarelmand commented on #413
Managed to fix the issue by removing all of jupyter, jupyterlab, jupytext, rerunning `conda install anaconda`, `conda update --all` and reinstalling jupytext.

[2020-01-08 20:07] #413 closed

[2020-01-08 20:17] mwouts commented on #413
Hello @kaarelmand , thanks for reporting this, no worries, for me it's useful to know what works and what may cause trouble...

I was having a look at this, and I found that
 - the [binder link](https://mybinder.org/v2/gh/mwouts/jupytext/master?urlpath=lab/tree/demo/get_started.ipynb) provides an example where jupytext 1.3.2 works with JupyterLab 1.2.4 (they are installed with pip, however)
 - whe

[2020-01-08 21:28] kernc opened #414 "Argument --test fails if run on different jupytext versions"
`jupytext --test --to ipynb FILE.py` fails with:
[code]

I suggest to add `jupytext_version` (and maybe even `format_version`) to [`_IGNORE_CELL_METADATA`](https://github.com/mwouts/jupytext/blob/700f03a61b81b0f80df3f67551ecc2bf956a873c/jupytext/compare.py#L141-L145) (or appropriate), because those lines will differ on different jupytext invocations but might otherwise not influence the converted

[2020-01-11 00:10] mwouts commented on #414
Hello @kernc , yes I agree, this is among the expected changes in a round-trip. I will fix this in the next release.

[2020-01-11 16:07] statquant opened #415 "Can you help pairing ipynb and R format using spin ?"
Hello @mwouts and thank you for jupytext it really looks amazing.
From the [docs](https://jupytext.readthedocs.io/en/latest/using-server.html) I think I understand that not only can I sync `ipynb` and `Rmd` formats (I succeeded in doing that out of the box) but I should even be able to do `ipynb` and `R` given that running `knitr::spin` on a `R` file generates a `Rmd` I kinda can see the magic her

[2020-01-11 16:53] statquant commented on #415
Actually I looked into other issues with `spin` and figured out how to do it.
I'll leave a trace here for a next wonderer

[code]
I can see the following
![image](https://user-images.githubusercontent.com/3612473/72207622-ce588a00-3492-11ea-9c7a-71c1fce9d2e7.png)

This is truly amazing

[2020-01-11 18:39] mwouts commented on #415
Thank you @statquant for your feeback. I'm glad you like the program!

Yes, that's it, you can put as many formats as you want in `--set-formats`, or in the `jupyter.jupytext.formats` metadata in the YAML header of the document.

If you want to use two different formats with the same extension, you can use a extension prefix. This is how we pair the _world population_ example notebook to seven dif

[2020-01-11 21:27] statquant commented on #415
Hello @mwouts I actually want to use `R:spin`.
Being able to use native R files solves what I think to be the major problem of notebooks: the fact that they break the workflow (necessity to add cells, no multipage for coding, no proper console)
As it is I can stay totally in R (I use `vim` and [nvimR](https://github.com/jalvesaq/Nvim-R)), and I get to keep all the greatness of `rmarkdown::render`.

[2020-01-11 23:23] statquant commented on #415
Actually maybe you can help me on this tiny detail, it seems to be something that should be handle in jupytext,  I opened a [SO question](https://stackoverflow.com/questions/59699249/how-can-i-modify-yaml-instructions-outside-of-the-document-i-am-rendering/59699360#59699360) but it feels really wrong

[2020-01-12 13:18] mwouts commented on #415
Well representing the non-jupyter part of the YAML header in a raw cell allows makes it easy to edit in the notebook... But I understand that you may not want to see that in the notebook.

Maybe we could offer a boolean option `root_metadata_under_jupytext`, that would have the effect to store the non-jupyter part of the YAML header under `jupytext.root_metadata` when the file is converted to a no

[2020-01-12 14:33] statquant commented on #415
Hello @mwouts

Do you mean that people would like to be able to modify the non jupyter yaml part in a jupyter notebook even if it is likely that they won’t be able to act upon it in jupyter ?
I did not think about this but now that you mention it I can see that if you consider jupyter to be an editor it makes sense.
But then shouldn’t we also be able to see the jupyter part of the yaml ?

Many tha

[2020-01-12 21:18] parmentelat opened #416 "how to get rid of jupytext_version in the notebook metadata"
Hey there

as the tile has it, my use case would require to get rid of `jupytext_version` in my notebooks metadata

for some time I have been successfully running in a mode where `language_info` is stripped from said notebook metadata (actually it's kind of the same need, differences in the version numbers between the authoring laptop and the runtime testbed creates tend to create headaches ;-)

s

[2020-01-12 21:44] mwouts commented on #416
Hello @parmentelat , thank you for discussing this - I'm sure you're not the only one with this need, see for instance #414.

Currently it is not possible to configure this from the notebook - but I do like your suggestion of filtering nested metadata, and I will think about it.

Before that, this is what you could do: change `jupytext.header.INSERT_AND_CHECK_VERSION_NUMBER` to `False`. You can ei

[2020-01-12 22:20] mwouts commented on #271
@jasongrout, I am giving a try to the user settings in Jupyter Lab, they really seem to be what I am looking for - but unfortunately I don't see what they change in practise.

For instance, in the experience below, I set the user settings to this:
[code]

With that, I would have expected that clicking on a link to another md file would open that file in the Editor, rather than in the Markdown Prev

[2020-01-13 07:37] grst commented on #415
@statquant, I'm not sure if I understand what you are trying to achieve... What's your rationale for not having a `yaml` header? I suppose it's an integral part of the Rmd/spin formats.

@mwouts, about the yaml headers:
* I agree that is convenient to edit the metadata in the raw cell.
* We discussed earlier (https://github.com/jgm/pandoc/issues/5905#issuecomment-554268272) that it might be useful

[2020-01-13 07:41] parmentelat commented on #416
Hi @mwouts and thank you for the fast answer :)

I'm receiving mixed signals here :

and

So if this is not configured in the notebook, what exactly is *the file* that I should modify locally ?

and thanks again for coming up with this tool, that makes managing notebooks in git soooooo much easier :)

[2020-01-13 09:45] jasongrout commented on #271
I just checked as well, and indeed in 1.2.4, at least, that setting will control what happens when you double-click on the file (try changing it to "markdown preview" and double-clicking on a markdown file in the file browser). However it seems to not be used when clicking on a link to open a file. This looks like a bug to me. CC @ian-r-rose, who (IIRC) wrote that defaultViewer override functional

[2020-01-13 10:05] jasongrout commented on #271
I tracked down the problem and opened an issue: https://github.com/jupyterlab/jupyterlab/issues/7776

[2020-01-13 11:05] mwouts commented on #271
Awesome. Thank you so much @jasongrout

[2020-01-13 11:11] mwouts commented on #416
Oh - I meant, I expect that if you edit your local `jupytext/header.py` file and change this line

https://github.com/mwouts/jupytext/blob/55e3e80b26b7a34c47672a804480108b8cae7f0e/jupytext/header.py#L23

to `INSERT_AND_CHECK_VERSION_NUMBER = False`, then you would not get any version number in the header any more. If you prefer not to edit this file, or if you cannot, you could maybe use `mock` as

[2020-01-13 11:50] parmentelat commented on #416
oh, I see, I am not familiar with mock, sorry that I did not immediately click

thanks for the clarification; unfortunately this primarily targets students who run their notebooks on a hosted infrastructure
and the underlying docker image is created from pip requirements a bit like under binder,
so the patch road seems quite bumpy/messy and I’d rather stay away from that sort of things at this poi

[2020-01-14 07:53] statquant commented on #415
Hello @grst my view on this is that that either we should have access (hence display) to all the yaml preambules (in my example the `jupyter:` is hidden in jupyter but the `author: date: output:` are visible) or none at all.
Because (please correct me if I am wrong) in jupyter the "Rmd" yaml information will not be acted upon I see little case for displaying it.
Functionality aside I think it woul

[2020-01-14 09:49] allanleal opened #417 "How do I unpair or remove metadata from jupyter notebook?"
Using `jupytext --set-formats notebooks//ipynb,py:light scripts/*.py` results in paired notebook and python files. The python files are stored in `scripts`, and the `notebooks` dir gets created in `scripts/notebooks`.

Once I'm finished editing the python files and/or notebooks, I want to copy the notebooks to a directory `tutorial`, without the following `jupytext` metadata:

[code]

The tutorial

[2020-01-14 20:57] mwouts commented on #417
Hello @allanleal , thanks for sharing your use case, that's interesting!

Can you give a try to
[code]
and confirm if it works properly? Thanks!

[2020-01-15 07:04] allanleal commented on #417
Thanks @mwouts . This worked and resulted in the following:

**Before**:

[code]

**After**:

[code]

[2020-01-15 07:04] #417 closed

[2020-01-16 21:28] rsokl opened #419 "Markdown parsing bug: multi-line string with codeblock fails to roundtrip"
In a jupytext markdown file, opened as a notebook, the cell:

![Original md-notebook](https://user-images.githubusercontent.com/29104956/72564066-f8d48980-387c-11ea-8378-197270d0f255.png)

will be not be parsed correctly upon opening the md file again:

![After re-opening](https://user-images.githubusercontent.com/29104956/72564006-d8a4ca80-387c-11ea-8674-f1bde2a9c3eb.png)

Here is the markdown fi

[2020-01-17 07:32] mwouts commented on #419
Interesting! Thanks @rsokl for spotting this. I'll have a look soon.

[2020-01-18 07:55] mwouts commented on #260
Hi @choldgraf, I just gave another try at a logo, actually Inkscape is pretty easy to use. What I have now is this:

![image](https://user-images.githubusercontent.com/29915202/72660535-a8217580-39cf-11ea-91e2-575f5bccf5f7.png)

What do you think? Where should we go next? (anyone willing to help can edit the svg at https://github.com/mwouts/jupytext/blob/logo/logo/logo_extensions.svg !)

[2020-01-18 08:52] yongtso commented on #92
Thanks, it works!

[2020-01-19 20:49] #419 closed

[2020-01-19 22:23] #414 closed

[2020-01-22 15:17] rgbkrk commented on #260
Some concepts, kind of off the cuff this morning:

![image](https://user-images.githubusercontent.com/836375/72906226-b977c400-3ce6-11ea-86b5-9d3e8d76dd96.png)

--------

![image](https://user-images.githubusercontent.com/836375/72906147-9cdb8c00-3ce6-11ea-95c3-c3c11c323a6e.png)

--------

![image](https://user-images.githubusercontent.com/836375/72906502-30ad5800-3ce7-11ea-9879-98f7e81e96ac.png)

[2020-01-22 15:23] rgbkrk commented on #260
Here's a better way to look at them with some whitespace:

![image](https://user-images.githubusercontent.com/836375/72907018-0c05b000-3ce8-11ea-9e75-6e16dd3c2e07.png)

[2020-01-22 15:24] mwouts commented on #260
Nice to see you here, @rgbkrk ! I love option 2. Let's see what the others think...

[2020-01-22 15:25] rgbkrk commented on #260
I'm partial to option 2 as well.

[2020-01-22 15:29] rgbkrk commented on #260
Some color variations on option 2:

![image](https://user-images.githubusercontent.com/836375/72907558-e1682700-3ce8-11ea-9217-aef477f71a2d.png)

[2020-01-22 17:12] choldgraf commented on #260
wow, I really like number 2! I guess you could also square-ify the logo fairly easily when needed by just taking the first two letters, e.g.:

![image](https://user-images.githubusercontent.com/1839645/72916691-52164000-3cf7-11ea-9b90-afbb295714ac.png)

[2020-01-22 19:54] choldgraf opened #421 "Is the Rmd output a valid RMarkdown notebook?"
This might be an ill-posed question, but I am wondering whether the two-way conversion with RMarkdown formats totally matches the specification of [RMarkdown notebooks](https://rmarkdown.rstudio.com/lesson-10.html). E.g., could I take any random RMarkdown notebook and use `jupytext` to convert it into a Jupyter Notebook, and vice versa? Are there any edge cases or pain points where this wouldn't w

[2020-01-22 20:20] rgbkrk commented on #260
Ooh, I like the compact logo idea for favicons and whatnot.

A slight variation with lower saturation on the `+` and `-`:

![image](https://user-images.githubusercontent.com/836375/72930762-7da62400-3d11-11ea-95e2-6dd6dc05ba02.png)

[2020-01-22 20:22] rgbkrk commented on #260
Even lower saturation on the `+` and `-`:

![image](https://user-images.githubusercontent.com/836375/72930914-cbbb2780-3d11-11ea-83b4-908be1da4250.png)

[2020-01-22 21:33] choldgraf commented on #260
I think I like the "even lower" saturation one!

[2020-01-22 23:00] choldgraf opened #422 "Consider using pandoc markdown for "div"s and RMarkdown for code cells in Jupytext markdown"
In using Jupytext, I've found that I'd love to have a combination of two features from two different markup languages supported by jupytext:

**Pandoc div fences for markdown cells**

I often want to tag-up my markdown with metadata that is cell-specific, which means that I need to be able to separate out my markdown chunks into multiple cells. Right now in Jupytext, the way to do this is to write

[2020-01-22 23:15] mwouts commented on #421
Hello @choldgraf , well that's how Jupytext started... see issue #1 😄

I would say that the conversion works rather well, at least by the number of issues I am seeing here.

I think on this subject @grst may have more experience than me. He helped me a lot getting this started. He also has experience with the `.nb.html` format (R notebooks with outputs, the Rmd document is embedded inside). And he

[2020-01-22 23:27] mwouts commented on #422
Hello @choldgraf , I agree that pandoc div are easier to type, and nicer to read in a text editor. But... they don't look nice yet in GitHub or in VS code... that was the reason why we did'nt took them. That said, sure, why not allowing them in addition to the other cell markers, as you suggest? I'll think about that.

The same remark holds for the RMarkdown code blocks: I don't think that ` ```{p

[2020-01-22 23:57] choldgraf commented on #422
Yeah, I agree with you on both points. I think it's a tricky situation. On the one hand, it simplifies things if the interfaces people are familiar with will understand the syntax that is used. On the other hand, embedding lots of comment blocks in the markdown is also not the most visually-appealing, even if the comments are properly colored.

Perhaps another option would be to allow for `:::` fe

[2020-01-23 00:38] rgbkrk commented on #260
:shipit:

Happy to make a PR with the SVG. I did the design in sketch though, so if folks want that I can post it too (though I think it's a binary file).

[2020-01-23 10:03] grst commented on #421
Hi @choldgraf,

I actually use it in production for a while to write python notebooks in jupyter lab and generating HTML reports with `rmarkdown` and `reticulate`. (See also, as @mwouts  already mentioned, the [reportsrender](https://github.com/grst/reportsrender) project. Especially the [section about executing the same Rmd file with both `nbconvert`/`papermill` and `rmardown`](https://reportsren

[2020-01-26 10:48] #260 closed

[2020-01-26 12:13] technic commented on #265
Hi @mwouts , I think this is strange. I want to have to directory trees with the same structure, but one with the ipynb files, and another one with  python files. Say "notebooks" and "scripts".

Is it possible to this acheive now, or could you suggest better way? I find it quite annoying that I have duplicates of each notebook (py + ipynb) in the jupyter interface.

[2020-01-26 21:35] mwouts commented on #265
Hello @technic ,

This is a nice idea. Currently it is only possible with folders, not trees, cf. https://jupytext.readthedocs.io/en/latest/using-server.html#per-notebook-configuration.

So, if I understand correctly, you have two folders at the root of your Jupyter server: `notebooks` and `scripts`, and you would like to use, say, `jupytext.formats="/notebooks//ipynb,/scripts//py"` (using e.g. th

[2020-01-27 07:23] technic commented on #265
Yes, that's what I want.
Now it works only for notebooks in the matched directory, but not for the sub-folders. I want to map for example `/notebooks/foo/bar/qqq.ipynb` to `/scripts/foo/bar/qqq.py`.

[2020-01-27 18:55] mwouts opened #424 "Allow to pair notebooks in trees rather than in folders"
That was suggested by @technic at #265:

Maybe we could use, say `jupytext.formats="/notebooks//ipynb,/scripts//py"` (using e.g. the initial / to indicate that path is matched from the root rather than from the parent dir) to pair notebooks and scripts in trees rooted at `/notebooks` and `/scripts`. For example, `/notebooks/foo/bar/qqq.ipynb` would be paired with `/scripts/foo/bar/qqq.py`.

[2020-01-27 20:00] #416 closed

[2020-01-27 20:04] mwouts commented on #416
Hello @parmentelat , this is now available in Jupytext version 1.3.3. With  `notebook_metadata_filter="-jupytext.text_representation.jupytext_version"`, and Jupytext will remove the `jupytext_version` field from the header.

If you want to set this flag on all the notebook in the current directory, use:
[code]

And if you want this to be the default for all your notebook in Jupyter, add
[code]
to

[2020-01-28 00:37] stuaxo opened #426 "Is there a list of which formats offer roundtripping ?"
I tried jupytext initially, with `.py`, but I noticed, when roundtripping to ipynb, that multiple newlines can result in code cells splitting up.

Now I'm trying .md, as I could see this in github, though it turns out to be not completely ideal as github shows all the metadata at the top.

What is the best format to use that can handle a round trip ?

[2020-01-28 10:47] parmentelat commented on #416
hi @mwouts, thanks for taking care of this

first thing I want to report is there is an extra `"` in your first snippet; then end should read

[code]

instead of

[code]

now, when I do run this on a sample notebook, which happens to be in `.md` format, I observe vast changes that are not what I expected; it does add the metadata filter, but otherwise removes a lot of global metadata; was that int

[2020-01-28 10:48] parmentelat commented on #416
as to the global settings, I understand the 2 topics are separate, but am not in a position to test this for now, I will report on this when I have a chance to do so

[2020-01-28 11:03] mwouts commented on #416
Thanks, I've fixed my comment!

I see. Based on that part of your diff:
[code]
I would say that what you want is `notebook_metadata_filter: all,-language_info,-jupytext.text_representation.jupytext_version`. Is that correct? Note that this occurs because the default filter for notebook metadata is: `kernelspec,jupytext`, so if you don't explicitly include `all` most of the metadata is filtered out

[2020-01-28 11:09] parmentelat commented on #416
yes, works like a charm !

this is of course something that I should have found out by myself, sorry, it would not have happened if I had taken more time to switch contexts :-)

thanks !

[2020-01-28 12:22] mwouts commented on #416
No problem! Actually discussing this may also help other people looking for help... Thanks for sharing your use case and testing.

[2020-01-29 16:02] parmentelat commented on #416
hey again

I'd like to report that after a few days it seems that something is still off

the clean up phase - the one that involves `--update-metadata` flag - does work properly for me; however although my notebooks do have this metadata in place

[code]

I do see the

[code]

resurrected after I edit and save them

this is not too much of a big deal for me right now because on my production side

[2020-01-29 18:38] parmentelat commented on #416
hi; me again ;)

I just realized that I had a setting in `~/.jupyter/notebook_config.py`
[code]

because of its name I thought this setting would not affect the notebooks where I had explicitly defined the complete new value ending in `-jupytext.text_representation.jupytext_version`

so, I cannot yet confirm that this was the root problem, but I did change the default to be in line with what I wan

[2020-02-06 15:06] mwouts commented on #426
Hello @stuaxo , thanks for asking.

The three main formats, i.e. `py:percent`, `py:light` and `md` should be robust to the round-trip. Now the question is how you define the cells: `py:percent` is the most explicit with `# %%` before every cell, the two others may indeed use single or double blank lines as cell breaks.

These formats are documented [here](https://jupytext.readthedocs.io/en/latest/

[2020-02-06 15:14] mwouts commented on #422
Hello @choldgraf , I see that Markdown allows both ` ``` ` and `~~~`  to define code sections (that seems to be compatible with GitHub, VS Code, PyCharm at least).  What would you think of using `~~~python` for the code parts that you don't want to be execute in Jupyter?

If you like the idea, I'll add a test (to ensure that Jupytext leaves `~~~python` unparsed...), and a mention in the documentat

[2020-02-06 21:16] choldgraf commented on #422
I have been thinking it over, and almost wonder if this shouldn't be handled at the tech level, but instead at the documentation level. Rather than building new features into the vanilla markdown, why not just tell users that they should use RMarkdown if they need the ability to distinguish "runnable" from "non-runnable" code blocks? (this should just be a matter of adding the `{}` to the code fen

[2020-02-10 00:36] lukelbd commented on #119
Surprised no one has mentioned this, but for the time being (i.e. until jupyter supports multiple markup languages) you could convert reST files by treating the "text" cells [as unformatted "Raw" cells](https://nbsphinx.readthedocs.io/en/0.3.5/raw-cells.html#reST) belonging to the reST format. Wouldn't this be pretty easy to implement?

I already use "raw" reST cells for the notebooks in my packag

[2020-02-10 08:41] mwouts commented on #119
Hello @lukelbd , that's interesting. Does this work when your notebook is saved in one of Jupytext's format?

In theory, the raw cells are supported in Jupytext, see for instance the notebook named _The flavors of raw cells_ in the test folder, and its mirror representations like e.g. this [one](https://github.com/mwouts/jupytext/blob/master/tests/notebooks/mirror/ipynb_to_script/The%20flavors%20o

[2020-02-10 22:54] mwouts opened #427 "Extend Jupytext to C# and F#"
C#, F# and Powershell Jupyter notebooks were announced in this [post](https://devblogs.microsoft.com/dotnet/net-interactive-is-here-net-notebooks-preview-2/) from the .NET blog. A preview of Powershell notebooks was then provided by @TylerLeonhardt in this [post](https://devblogs.microsoft.com/powershell/public-preview-of-powershell-support-in-jupyter-notebooks/).

In november 2019 (Jupytext 1.3)

[2020-02-10 23:37] mwouts commented on #427
The language in the notebook kernels is called `C#` and `F#`. However the Markdown files seem to use, instead ` ```csharp ` and ` ```fsharp` for code cells.

[2020-02-10 23:43] mwouts opened #428 "Jupytext --to script uses the same destination extension for all the notebooks"
Running `jupytext --to script NotebookExamples\*\*\*.ipynb` on [dotnet\interactive](https://github.com/dotnet/interactive/) only produces `.cs` files, when we would have expected `.cs`, `.fs` and `.ps1` files.

[2020-02-11 00:00] dfinke commented on #427
Thanks, it is. Very interesting.

[2020-02-11 01:00] #428 closed

[2020-02-11 01:06] mwouts commented on #427
So far, this is what we've got...

**On the PowerShell side**:
- Jupytext (>=1.3.0) supposedly works well with PowerShell notebooks. Run `pip install jupytext`, restart the notebook server, and you will have the option to _pair_ the notebooks to text files, using the Jupytext entries in the File menu (Jupyter Notebook) or the Jupytext commands (Jupyter Lab).
- With Jupytext, Markdown files and `.p

[2020-02-11 01:32] dfinke commented on #427
I like storing it as markdown because I can use them as instructions on a repo and then the markdown can be re-purposed as an interactive notebook. Need to setup my env, I've only been running the notebooks in Azure Data Studio and the dotnet/interactive part with mybinder.

This is good stuff.

[2020-02-11 08:29] mwouts commented on #427
Thank you @dfinke !

Installing Jupytext on mybinder should be easy (just `pip install jupytext` there). I am giving it a try at  https://github.com/mwouts/interactive, and this is the link to the corresponding [binder](https://mybinder.org/v2/gh/mwouts/interactive/master). There, I have converted all the example notebooks to `.md` files, and you will see that Jupyter Notebook opens them as notebo

[2020-02-11 15:39] TylerLeonhardt commented on #427
@jonsequitur is also a good contact on the .NET Interactive side for C# and F#.

[2020-02-11 16:52] jonsequitur commented on #427
Hello!

For Markdown support for C# and F#, you might take a look at what we've done in [Try. NET](https://try.dot.net). This experience is driven by Markdown-based code snippets: https://devblogs.microsoft.com/dotnet/creating-interactive-net-documentation/. The main difference between these approaches is that Try .NET currently runs full C#, meaning it needs namespaces, class definitions, etc. Tr

[2020-02-11 17:10] cartermp commented on #427
@mwouts perhaps some of the C# issues you're seeing here is because C# does not support top-level constructs and has various limitations with where you can place `using` declarations. This is something the C# language team is looking at addressing, since these kinds of ad-hoc inclusion of constructs is relevant for scripting and interactive programming.

For F#, if the resulting file is emitted as

[2020-02-11 23:12] asteppke opened #431 "jupytext fails to pair notebook with encoding error"
Using a recent notebook I tried to pair the ipynb file with a corresponding python file in jupyter lab. Unfortunately this failed and I receive the following error when trying the same thing on the command line:

[code]
This happens with the current version 1.3.3 of Jupytext, ipython 7.12.0 and ipython_genutils 0.2.0 on a Windows PC.
The notebook file opens and works nicely in Jupyter lab, no erro

[2020-02-11 23:38] asteppke commented on #431
After some dissection of the notebook file I found this segment that looks odd and triggers the failure above:

[code]
This cell content does not appear in the jupyter lab interface, I cannot pinpoint the origin other than that I tried to pair the notebook in the past with jupytext and failed.

[2020-02-12 05:20] mwouts commented on #431
Hello @asteppke , thanks for reporting this!

So the problem is with this section:
https://github.com/mwouts/jupytext/blob/bcf1a7b1fd5bc5f73d6d38460dcd0ce93a4f179e/jupytext/header.py#L55-L60

There we try to encode the inputs of every cell as `ascii`, to see if we need to include an explicit UTF-8 encoding in the header. But my implicit assumption that `cell.source` is a `str` seems to fail on you

[2020-02-12 06:12] mwouts commented on #427
Wow that's super interesting!

Thank you @cartermp for the advice on C# / F# scripts. I think I'll default the F# script extension to `.fsx` then, and leave the C# script as is, even if not syntaxically correct, it can still be useful if one want to copy/paste code from/to a notebook.

Thank you @jonsequitur for pointing at the [dotnet/try](https://github.com/dotnet/try) project. It is great to se

[2020-02-12 10:36] asteppke commented on #431
Hello @mwouts,

Thank you for the immediate response and for jupytext in general!

I edited out the cell which contains a dictionary and jupytext was able to pair the notebook again. So that works nicely.

While I am not certain what created this cell it might be caused by the code formatter extension, at least I never had that problem before using it. So I fully agree, let's keep this as a remind

[2020-02-12 10:36] #431 closed

[2020-02-12 16:57] jonsequitur commented on #427
All three of these are incidental in Try .NET because the command line parser isn't sensitive to whitespace, allows an arbitrary number of aliases (we support `cs`, `csharp`, and `c#`, and the capitalized forms of all three), and sees the following as equivalent: `key value`, `key:value`, `key=value`, `key="value"`, etc.

The metadata should be ignored if not needed, though I also think it will be

[2020-02-12 22:50] mwouts opened #432 "How to clean/tests notebooks?"
This was initially a question by @lwasser on [Twitter](https://twitter.com/LeahAWasser/status/1227291759786356736): _Is anyone using a tool that "cleans" or tests @ProjectJupyter notebooks for things like extra imports, PEP 8, etc etc?_

It would be interesting to describe what we can do with `jupytext` at the command line, and also, what can be done with pre-commit hooks.

Regarding the command l

[2020-02-13 00:20] mwouts commented on #427
I see! I think I can implement something that is insensitive to the space between ` ``` ` and `cs`, and that preserves the Markdown file on round trips (except that space). See this [test](https://github.com/mwouts/jupytext/blob/csharp_and_fsharp/tests/test_read_dotnet_try_markdown.py).

As the next step, maybe I'll try to add Jupyter C#+Jupytext+MyBinder to [dotnet/try-samples](https://github.com

[2020-02-13 01:18] mwouts commented on #427
I have copied the `DockerFile` and `NuGet.config` from `dotnet/interactive` to [mwouts/try-samples](https://github.com/mwouts/try-samples) and added Jupytext with
[code]

Unfortunately that does not seem to work. There are two issues with
https://mybinder.org/v2/gh/mwouts/try-samples/master :
1. There are no .NET Jupyter kernels there (only Python 3 is available)
2. Jupytext is not installed (`.md

[2020-02-13 02:48] jonsequitur commented on #427
@colombod Any ideas?

[2020-02-13 07:01] Atcold opened #433 "Lacking documentation"
I was trying to figure out what "formats" are available from the CMI help `jupytext --help`.
For what I can see there is only one reference to `py:light`, and nothing else.

How is one made aware of the alternatives?

[2020-02-13 20:04] colombod commented on #427
I have added the jupytext line do our docker file and this is the outcome

![image](https://user-images.githubusercontent.com/375556/74473652-de9dc380-4e9b-11ea-873f-5583347715ed.png)

Can't see any build log, did you notice any error when binder started creating your images?

[2020-02-13 20:18] colombod commented on #427
And this is running it
![image](https://user-images.githubusercontent.com/375556/74474748-042bcc80-4e9e-11ea-89c9-554e3b6f41f7.png)

[2020-02-13 20:39] colombod commented on #427
On a side note why are you suing #dotnet/try-sample repo for this?
![image](https://user-images.githubusercontent.com/375556/74476281-f3c92100-4ea0-11ea-9e71-bd5208ceb711.png)

[2020-02-13 21:50] mwouts commented on #427
Hello @colombod , thank you for your help!

It's because I want to see how well (or not) the try-sample examples will work in Jupyter. The example are not `.ipynb` files, but Jupytext can convert them on the fly to (i.e. even _open them as_) Jupyter notebooks. Now the question is whether these notebook will run fine...

I did start with dotnet/interactive repo a few days ago. There, I
- added Jupy

[2020-02-13 22:33] jonsequitur commented on #427
A couple of Try .NET issues that might relate to Jupytext, as food for thought:

* https://github.com/dotnet/try/issues/214
* https://github.com/dotnet/try/issues/187.

[2020-02-13 22:37] mwouts commented on #427
Locally I can run the dotnet/try-sample examples, they work fine. But opening them with Jupytext does not really work, as... there's no code in the Markdown file!! So obviously the notebook is empty 😄

![image](https://user-images.githubusercontent.com/29915202/74484483-f0419400-4eb8-11ea-9d41-55b18a3ad1eb.png)

It is interesting to see how dotnet/try structures the document. The cell in Markdown

[2020-02-13 22:54] mwouts commented on #427
Interesting!

How will dotnet/try react if we duplicate the source in both the Markdown cell, and in the source file? (a bit like the `%load script.py` cell magic does in Python notebooks, which *replaces* the content of current cell with that of `script.py`)

Is it correct that dotnet try only reads the source file and ignore what is in the Markdown file? Maybe we could think of a) syncing in Jup

[2020-02-14 08:01] mwouts commented on #433
Hello @Atcold , thanks for asking. The formats are documented at https://jupytext.readthedocs.io/en/latest/formats.html, but I agree with you, they could also be listed in the CLI help. Let me see how we can do that...

[2020-02-14 13:32] ftalbrecht opened #437 "exclamation mark not correctly handled"
I am using
[code]
and the following MWE file (say `Untitled.md`)
[code]
(which is intended to be run as a jupyter notebook inside a jupyter server using the jupytext extension, which works well, btw.) is not correctly converted to python on the command line. I.e., the output of
[code]
yields the following `Untitled.py`:
[code]

I would expect the `!echo jo` statement to be commented out, but the p

[2020-02-14 15:52] mwouts commented on #437
Hello @ftalbrecht , thanks for reporting this.

That should be easy to fix... we just need to allow spaces before the exclamation mark in this regular expression:
https://github.com/mwouts/jupytext/blob/b2c067096ed5381eb28be73e5e712cff2fa82fdd/jupytext/magics.py#L23-L24

i.e. probably replace it with
[code]

But then, is the empty try statement valid in Python?

[2020-02-14 19:06] Atcold commented on #433
@mwouts I'm aware what the formats are.
I couldn't figure that out from my terminal, though.

[2020-02-14 20:09] jonsequitur commented on #427
Typically, it "replaces" the cell in the file with the cell in the editor, though it doesn't actually write the change to disk. The compilation happens in memory.

We support both directions.

[2020-02-14 21:03] lwasser commented on #432
@mwouts looking at the above, when u call 'jupytext notebookname.ipynb ' does it actually know to run the py version of the file? This is great!

[2020-02-16 20:04] mwouts commented on #432
Yes, when you do `jupytext --pipe` or `jupytext --check`, the notebook is piped into the other program in the format `--pipe-fmt`, which defaults to `auto:percent` (so, yes, Python scripts with `# %%` cell markers in the case of Python notebooks).

I am interested in reviewing what can really help the users here... And learn how I can improve my own workflow, which is super basic at the moment 😄 :

[2020-02-16 20:09] mwouts opened #438 "Open dotnet/try Markdown files as notebooks in Jupyter"
Jupytext 1.3.4 can open Markdown files as C# notebooks, but when we do this with dotnet/try notebooks, we don't get any code in the code cells.

![image](https://user-images.githubusercontent.com/29915202/74611891-73086000-5100-11ea-9cda-319fd16a8c7d.png)

The code should be loaded from the `source-file` that appears in the cell metadata:

[code]

See also [this comment](https://github.com/mwouts/

[2020-02-16 20:13] mwouts commented on #427
Thank you @jonsequitur . The dotnet/try Markdown files is another challenge, so I will see what we could do for that at #438 .

And for now I will ship the C# and F# support in Jupytext 1.3.4 (PR #429 ).
Thank you everyone for taking the time to answer my questions!

[2020-02-16 20:13] #427 closed

[2020-02-16 20:22] mwouts commented on #437
@ftalbrecht , I'll do the fix. Just to mention, when the `!echo` command is commented out, the Python code is not valid any more, so you will have to add a `pass` to make the Python representation valid:

![image](https://user-images.githubusercontent.com/29915202/74612073-50774680-5102-11ea-8157-bcc448409ab5.png)

![image](https://user-images.githubusercontent.com/29915202/74612084-5ff68f80-5102-

[2020-02-16 22:28] mwouts commented on #433
@Atcold , could you let me know what you think of #441 ? Thanks

[2020-02-16 22:32] mwouts commented on #426
@stuaxo , I will add a mention that the main formats support roundtripping in the Jupytext CLI, see #441. Do you think this would have helped in your case? Thanks

[2020-02-17 08:33] ftalbrecht commented on #437
Sure, that was just meant to be the smallest failing example I could think of. Thx for the fix!

[2020-02-17 21:45] stuaxo commented on #426
That looks good, is there a list that maps extensions to the format names somewhere ?

When I started I was trying notebook -> py, does that mean I was using the light format ?

[2020-02-17 22:59] mwouts commented on #426
That's a good idea! I'll update the PR. Basically,
- the `.md` extension corresponds to either the `markdown` (default) or `pandoc` formats (calls pandoc, so you should have a recent version of pandoc installed)
- the `.Rmd` extension corresponds to the `rmarkdown` format (default)
- the script formats uses the language extension, i.e. `.py` in the context of a Python notebook. And the available f

[2020-02-18 12:22] shinokada opened #442 "[Feature Request] Convert all files in a directory to ipynb?"
Is there any function to convert all files in a directory?

If it is not there, please add this function.

Or is there a way to do it? Let me know.

Thanks.

[2020-02-18 14:03] mwouts commented on #442
Did you gave a try to `jupytext --to ipynb *.py` ? Or `jupytext --to ipynb *.md`, depending on what extension your input files have ?

[2020-02-18 20:46] #426 closed

[2020-02-18 21:08] stuaxo commented on #426
Thanks.

[2020-02-19 07:49] shinokada commented on #442
It worked.

[code]

However is there any way to add directory?

When I run this, I get an error.
[code]

It will be nice to have a flag for a directory where you want to put all converted files.

[code]

What do you think?

[2020-02-19 19:07] mwouts commented on #442
Oh, sure. Could you please give a try to the following?
[code]

[2020-02-19 20:53] shinokada commented on #442
Great! It works. 😄
I am on a process of writing about Jupytext on Medium.
This is [a draft link](https://medium.com/@shinichiokada/version-control-with-jupyter-notebook-b9630bc5996e). I will add this feature.
I will appreciate your feedback.

I was wondering if it is possible to add a keyboard shortcut.
Like cmd+j to run:

[code]

or something similar.

What do you think?

[2020-02-19 21:14] shinokada commented on #442
Another question about associating files.
[code]

What is the purpose behind this?
Does this relate to that when you converting back to ipynb, to pick up py files to convert?

[2020-02-19 21:34] mwouts commented on #432
In the (last paragraphs of the) [TrackingJupyter Newletter #26](https://tinyletter.com/TrackingJupyter/letters/tracking-jupyter-newsletter-the-twenty-sixth), by Tony Hirst @psychemedia, I learn of `isort`, and also of `pyforest`. Have a read, it's interesting!

[2020-02-19 21:39] mwouts commented on #442
Hello @shinokada , sure I will have a look, thanks!

Paired notebooks are documented [here](https://jupytext.readthedocs.io/en/latest/using-server.html), it's a way to keep both the `.ipynb` and `.py` files in sync automatically (read both when you _reload_ the notebook in Jupyter & save both when you _save_).

If you wish to pair your notebooks to a folder like in the above, you can use:
[code]

[2020-02-20 14:08] cgpu commented on #426
Hi @mwouts ,

Thank you for creating `Jupytext`, it's proved to be extremely useful for humane `git diff`s for me and my team.

Re-opening this  issue to avoid redundancy in a newly created relevant issue.
Round-tripping from `ipynb` to `Rmd`, and from `Rmd` back to `ipynb` I have an almost identical notebook. Some metadata do change, making the `ipynb` look modified in `git diffs`.

For example,

[2020-02-20 16:36] mwouts commented on #426
Hello @cgpu , could you please give a try to the `--update` flag? I mean,
[code]

What you see above is the effect of Jupytext's default filter for the metadata, which excludes the `language_info` part from the notebook. The `--update` flag will take care of preserving the metadata that is in the notebook, and not in the text file.

Alternatively, you can also have a look at the [metadata filters]

[2020-02-24 12:56] psychemedia commented on #432
Re: workflows, I'm exploring using ipynb paired to py to create py package files.

The ipynb version includes lots of `active-ipynb` cells that are used to essentially mask the following from the py file when loaded into other things as a module:

- tests;
- "workings-up": eg single lines of code tested, or groups of lines of code in a cell, prior to making a function to wrap them.

The notebook r

[2020-02-24 16:36] rsokl opened #443 "[Feature Request] Enabling ipynb-free workflows in Jupyter"
The jupytext-markdown format is absolutely fantastic and jupytext's ability to open them as notebooks so nice that I basically never want to work with .ipynb files ever. Unfortunately, the process of going about a no-ipynb workflow is currently not a very convenient one.

This is my current workflow for creating a new markdown-notebook:

1. (in Jupyter GUI) File > New Notebook
2. (In new ipynb) Ju

[2020-02-24 20:58] mwouts commented on #443
Thanks @rsokl , sure that's a great idea!

Maybe the shortest way for now is to create a text file, save it with a `.md` extension, open it as a notebook and check 'Include metadata' in the Jupytext menu (otherwise the `.md` file will miss the YAML header).

Note that this was already suggested by @psychemedia a while ago at #265, but unfortunately the GUI are a bit harder to develop than the pyth

[2020-02-25 15:19] JCHHeilmann commented on #384
This would be extremely useful to me. The fact that the configuration can't come from inside a "project directory" right now is the reason I'm hesitating to use Jupytext in my current project.
The ideal scenario in my opinion is always that a tool is configured and up and running after a developer cloned a project and installed the dependencies. This is not possible with Jupytext right now (or is

[2020-02-25 16:14] Iguanotron opened #444 "Leading slash in notebook paths breaks compatibility with other notebook extensions"
Without Jupytext installed, Jupyter notebook paths are stored in the session manager with the leading slash stripped. It appears that Jupytext instead stores notebook paths beginning with a leading slash. This doesn't cause any issues on its own, but I've run into an issue where other extensions can crash when attempting to get a session that doesn't exist. Specifically, I've seen this issue with

[2020-02-26 01:26] matthewbegun commented on #384
Would this effect command line operation as well or only the Jupyter integration?

[2020-02-26 06:03] mwouts commented on #384
Hello @JCHHeilmann ,

Yes! This is the next item on the list...

👍

Well, since you're asking I think you are looking for a configuration that differs from the default? So the answer is probably no. Currently the only place where you can configure Jupytext is the Jupyter configuration file. Unless you are willing to use pre-commit hooks, see [Jupytext as a Git pre-commit hook](https://jupytext.rea

[2020-02-26 06:08] mwouts commented on #444
Hello @Iguanotron , thanks for your precise report, that's very helpful. I remember seeing duplicated paths for the same notebook (one with the leading slash, one without) in the running notebook tab, that may be related to what you report. Anyway I will have a look!

[2020-02-26 08:56] JCHHeilmann commented on #384
@mwouts That's great to hear.

For now I'm putting the config in the path related to the projects conda environment. That keeps it seperate, but it requires manual steps when setting up.

[2020-02-27 18:01] rsokl commented on #443
@mwouts ah the text file approach is a better workaround. I use Jupyter Notebook. I have played a *little* with JupyterLab but get annoyed by the bugs that I have hit and the changes to the plotting backend.

I wish I had experience with GUI work, or else I'd throw my hat in the ring to help with this!

Another option could be to permit a global configuration option in jupytext such that all noteb

[2020-02-27 19:20] psychemedia opened #446 "Precommit workflows - clean py generation"
There are a couple of issues relating to precommit workflows (eg https://github.com/mwouts/jupytext/issues/292) as well as "filtering" cell outputs (eg https://github.com/mwouts/jupytext/issues/337#issuecomment-541455692 ) and I was wondering if there are any demonstrated workflows that use a pre-commit hook to generate light python scripts with `active-ipynb` cells filtered out?

It strikes me th

[2020-02-28 05:58] AakashGfude opened #447 "A book publishing project interested in extending jupytext code"
Hey there @mwouts   - I wanted to introduce myself and a team that I am working with.

We are a group of academic researchers who are working on a tech stack to build open, reproducible documents with Python. We've set up a GitHub organization to host the projects that we're working on as a part of this project: https://github.com/ExecutableBookProject.

To better equip ourselves and the community

[2020-02-28 07:50] mwouts commented on #447
Hello @AakashGfude , thanks for reaching out! I'd be happy to help.

Tell me a bit more about the `myst` format, and how you see the mapping to a Jupyter notebook: How do you represent a code cell in `myst`? Is there a cell marker in `myst` to identify two consecutive text cell? How do you plan to encode the cell metadata?

[2020-02-28 18:25] lkhphuc commented on #406
I am also looking for this feature.
In addition, is it possible in step 2 to update the text of a cell without trigger a full page reload?
After I edit my paired script in vim, I have to switch to browser and trigger a full reload, which show a blank page for 2 seconds to render in my poor Macbook Air.

This could be impossible to achieve in Notebook but might be JupyterLab has some advance featur

[2020-03-01 04:04] mmcky commented on #447
thanks @mwouts. We are working on putting together a more detailed spec that documents the mappings between `myst` and `ipynb` format. We have added `cell` delimiters in `myst` such as `+++` (all subject to change at this stage). Once the spec is put together we will certainly share it with you for thoughts and comments.

Our aim is to get exact two-way representations with the vision we can swap

[2020-03-01 15:02] mwouts commented on #447
Sounds great! I am looking forward to reading that.

[2020-03-01 16:18] mwouts commented on #406
Hello, yes I agree it would be great to have this auto-refresh. Actually my notebooks also take a long time to refresh, just because they are too heavy... if we found a way to reload only the text version, and do the merge in the brower, that could be way faster.

For this, we would need to 1) find a way to load the input-only version of the notebook and 2) do the merge in TypeScript or Javascript

[2020-03-01 18:00] mwouts opened #448 "In JupyterLab 2.0: "The extension "jupyterlab-jupytext" is outdated.""
The current version of the JupyterLab-jupytext extension is not compatible with JupyterLab 2.0.
A migration guide is available [here](https://jupyterlab.readthedocs.io/en/stable/developer/extension_migration.html#extension-migration).

[2020-03-03 06:47] mmcky commented on #447
@mwouts while we are working on the `myst`  <-> `ipynb` spec, I had a question regarding the workflow / architecture of `jupytext`.

We are interested in the possibility of setting up the `ipynb` / `text-based-format` conversion (for those that have lossless conversions) to have realtime updating. The reason for this is we have found when working on larger projects that maintain source files in `t

[2020-03-03 15:35] cgpu commented on #426
Thank you for the heads up, I used it as suggested `jupytext --update --to ipynb test.Rmd` to a .ipynb file with cleared output and it works great.

[2020-03-03 16:47] phaustin commented on #447
@mmcky -- how would this differ from the current jupytext.TextFileContentsManager?

[2020-03-03 17:37] jhelie commented on #448
Hi Marc, I've got a tentative PR https://github.com/mwouts/jupytext/pull/449. Curious to know whether it was easy as that (I'm not a JS person). In any case I can confirm it worked on my machine following these changes.

[2020-03-04 00:40] mmcky commented on #447
thanks @phaustin -- that's neat! I hadn't realised you can open the `md` file directly through the Jupyter interface and it represents that as the `ipynb` file on the fly. I had thought `jupytext` was mainly built around companion files `ipynb` and `md` and keeping them in sync through save actions.

I had assumed the workflow would be to open `text-based` file in an editor and an `ipynb` file in

[2020-03-04 03:59] mwouts commented on #447
Hello! Yes I agree with @phaustin, a proxy for real time sync is implemented in the ContentsManager. You've seen how it works, right? When you save the document, all its representations are written on disk (e.g. `ipynb` and `md` when you use a paired notebook, or `md` only if you opened a `md` document with no pairing information), and when you reload the notebook, the inputs cells are taken from

[2020-03-04 04:00] mwouts commented on #447
Note that actually, I would be interested in going one step closer to real realtime updating. For me, the difference with the current behavior would be the following:
- when the user edits the `md` file on disk, the notebook is updated automatically, without having to reload it.
- the outputs are preserved in the browser, not in an (optional) `ipynb` file. Thanks to this
  a) sync is faster since

[2020-03-04 04:03] mwouts commented on #447
Now if we come back to your initial question, how to extend Jupytext to another format, I suggest that you have a look at how the `.Rmd` format is implemented, starting with [`formats.py`](https://github.com/mwouts/jupytext/blob/a393afd2c32b55fcff01ebd0a2ab1e13229a5fb2/jupytext/formats.py#L72-L83). That format derives from `.md`, with a few changes in how the text files are parsed. Note that I am

[2020-03-04 04:14] mmcky commented on #447
thanks @mwouts your comments about the `realtime` sync sound great. I will follow #406.

Great. Thanks for the the guidance. That sounds like a great entry point and we would want to do something very similar. I suggest then we will work in a fork of `jupytext` to get the `myst` syntax working and once the spec has settled down we can upstream the new format.

roundtrip is really important to us.

[2020-03-04 04:33] mwouts commented on #448
Hello Jean, thanks for contributing this! Yes indeed, my expectation is that we just need to bump the version of the libraries in the requirement, so I do think that you did it right.

I have very minor comments on your PR, see #449 . But there is also a more important question... when should we ship this new version of the extension? I am afraid that it will be incompatible with JupyterLab 1.x...

[2020-03-04 04:47] mwouts commented on #446
Oh, this is interesting!

First, maybe you could write a hook that updates the `release` file from the `src` file with something like this:
[code]

But your question also makes me think about the roles for the `ipynb` vs `text` files. Currently they are: input cells in the `text` file, and output cells in the `ipynb` file. When I read your comment I am wondering if you're not wanting: _selected_ i

[2020-03-04 10:10] jhelie commented on #448
Hi Marc, thanks for the feedback. This makes a lot of sense to me. Is there an rc branch for `1.3.5` that I should retarget #449 against?

Also I've tried addressing the minor comments (and updating `setup.py` so that Travis tests work) but now I can't seem to build locally as `jlpm install` fails with:
[code]
(I get the same error on `master`, not sure what I'm doing wrong).

[2020-03-04 16:09] Iguanotron commented on #444
That fix works for me in my environment (as described above)! Thanks!

[2020-03-04 17:23] choldgraf commented on #447
hey @mwouts 👋 didn't realize this thread was going on! Just FYI this is the project that we were talking about a few weeks back! Let me know if I can help move the conversation forward!

Per your earlier questions about how the notebook structure would be represented in MyST - this is our latest thinking:

https://github.com/ExecutableBookProject/MyST-NB/issues/12#issue-567866971

We'd love to hea

[2020-03-04 20:10] psychemedia commented on #446
So... I want to use the notebook as a notebook... with half baked ideas in, lots of functions split out into multiple steps so I can look at the output of each step in the function in all its gory detail. And then the function.

But if I do write a beautiful clean function, I don't want you to see all the horrible mess and broken bits and failed attempts that I've still got hanging around in my no

[2020-03-04 21:43] lwasser commented on #432
Very cool. I'm testing this out now but so far @mwouts it's actually working well!! so what i want to do is update our CI to test things. flake8 is awesome because it catches things like unused imports. i'm really excited to implement this in our workflow!

I wanted to show you the output of the above on one of my notebooks. im curious - is this a shell setting? it's different from when i just run

[2020-03-05 04:32] lesteve opened #450 "Regression in 1.3.1 due to #407 when scripts and notebooks are in a separate folder."
The directory structure looks like this:
[code]
I am running `jupytext` like this:
[code]

Output:
[code]

If I try to change the format to avoid the error then `jupytext --sync` does not seem to create the notebook in the right place. Maybe I was doing something fishy all along in which case I would appreciate advice how to use `jupytext` better ...

Here is a way to reproduce:
[code]

Same thing

[2020-03-07 20:38] mwouts commented on #450
Thanks @lesteve for reporting this. I think you have reported every bit of useful information (👍 👍 ), so I'll soon add a test to reproduce this, and then fix it.

[2020-03-07 20:41] #444 closed

[2020-03-08 08:13] mwouts commented on #450
This should be fixed in version 1.3.5 (available on pip). Thank you @lesteve for reporting this!

[2020-03-08 08:13] #450 closed

[2020-03-08 08:26] mwouts commented on #448
Jean, I have updated your PR. If it's good for you we could release it in Jupytext 1.4.0 (I finally prefer to increase the minor version number, as we are going to break the compatibility with JupyterLab 1.0...)

A few people are asking for this on twitter, until we do the release they can try the RC with:
[code]

[2020-03-08 18:31] mwouts commented on #392
Not reproduced since then, so I'll close this issue (unless someone also has the issue and knows how to reproduce it...)

[2020-03-08 18:31] #392 closed

[2020-03-08 18:34] mwouts commented on #421
Chris, I think we've answered your question here, so I'll close this issue. Still, feel free to reopen if there is something we did not answer!

[2020-03-08 18:34] #421 closed

[2020-03-08 18:44] mwouts commented on #422
It has been some time since we last discussed this...
- Indeed people can use Rmd if they want to distinguish between runnable and non-runnable code cells
- I have added the `~~~python` trick to the documentation to make non-runnable code cells in the markdown format
- I am not sure I would invite non R users to use the Rmd format, because the code cell metadata have to be coded in R
- More genera

[2020-03-08 18:44] #422 closed

[2020-03-08 18:47] mwouts commented on #442
I think we're done here, so I'll close this issue. Also, the readers may want to know that Shin's article is now available in [Towards Data Science](https://towardsdatascience.com/version-control-with-jupyter-notebook-b9630bc5996e). Thanks @shinokada for your article !

[2020-03-08 18:47] #442 closed

[2020-03-08 19:07] mwouts commented on #432
Hello @lwasser , thanks for your input.
- Regarding Markdown cells being mapped to long python comments that are not pep8 compliant, actually I do have the same issue... typically when we write a Markdown cell in Jupyter, we don't insert line breaks. The Markdown renderer will wrap the text automatically, but in the internal representation there is no wrapping. Until now I addressed that issue by

[2020-03-08 20:19] choldgraf commented on #422
Yep, that sounds good to me.

[2020-03-09 09:44] lesteve commented on #450
Great thanks a lot for this! I just tested with 1.3.5 and it does fix the issue.

[2020-03-09 09:49] lesteve commented on #450
By the way, we are trying to have a nice workflow where we synchronise python scripts and Jupyter notebooks with Jupytext. Some people prefer to write Python scripts and execute them cell by cell with Visual Studio Code. Some people prefer to write notebooks instead so there is no primary "source of truth". On top of that we are trying to use yapf in order to have short lines because we want to us

[2020-03-09 11:10] mwouts commented on #447
By the way, I realise that, if you already have a two way converter `myst <-> ipynb`, you can plug it directly into the `jupytext.reads/writes` functions. An example of this is the `pandoc` format, for which we simply call `pandoc`:

https://github.com/mwouts/jupytext/blob/dbc6012d35a93d74ca915cc17365ebda139f3022/jupytext/jupytext.py#L54-L55

If you decide to take that route, you may
- add your co

[2020-03-09 11:29] mwouts commented on #450
Hello @lesteve , well I am not aware yet of a project which has solved this sync/reformatting challenge, but I think we'll soon see one - maybe [yours](https://github.com/lesteve/scikit-learn-tutorial)?

Let me add that
- I don't know much about `Makefile` unfortunately, but yours look nice!
- maybe there's something to be done with [jupytext + pre-commit hooks](https://jupytext.readthedocs.io/en/

[2020-03-09 11:31] mwouts commented on #432
At #450 I learnt of [yapf](https://github.com/google/yapf), we could give it a try and see if it can automatically wrap the long lines in the Markdown cells.

[2020-03-09 12:48] lesteve commented on #450
I don't know much either about Makefiles and just to be explicit, nobody should use my Makefile because it is horrible and it does not really work!

OK if I end up doing something not too hacky, I will let you know. My feeling is that it will be very hacky though, at least the first iteration.

[2020-03-09 15:10] mwouts commented on #432
The upcoming version 1.4.0 will slightly improve the output of `jupytext --exec` (but, 1) unfortunately, `yapf` does not solve the issue of long comments... and 2) upgrade with care, because the extension for JupyterLab is not compatible with JLab 1.x any more):
[code]

[2020-03-09 15:43] mwouts commented on #448
Jupytext 1.4.0 is now on [pypi](https://pypi.org/project/jupytext/). Within a few hours it should also become available on conda-forge.

That version includes a version of the extension that works with Jupyter Lab 2.0. Please note that it won't work with Jupyter Lab 1.x - cf. the [CHANGELOG](https://github.com/mwouts/jupytext/blob/master/CHANGELOG.md).

Let me thank again @jhelie for his PR!

[2020-03-09 15:43] #448 closed

[2020-03-09 21:23] lwasser commented on #432
ahhhh @mwouts being able to lint and handle long lines has been an ongoing challenge in notebooks. I've been searching for a way to handle that. if jupytext could help with it, that would be wonderful. Would it be able to do it in a way that wouldn't impact markdown rendering? things like multi line "quotes `>` and such? this would be a wonderful feature!

I downloaded a ruler add on for labs last

[2020-03-13 09:52] thomaspernet opened #453 "Jupytext & SOS kernel issue"
Jupytext works fine with Python/R kernel but converts code cells into markdown cells when using the SOS kernel.

cf the image below. It is a code cell. After saving the notebook and restart it, it converted the code cell into markdown

<img width="734" alt="Screenshot 2020-03-13 at 10 51 18" src="https://user-images.githubusercontent.com/33351426/76610049-9e704600-6518-11ea-861e-b4f691d1a478.png">

[2020-03-13 11:34] mwouts commented on #453
Hello @thomaspernet , thanks for reporting this.
Maybe this is because the SOS kernel is not supported yet?

Anyway I'd be interested in adding it... Could you please provide a short Jupyter notebook with that kernel, and if possible, an example that reproduces the issue you encounter here?
Note that, if you like, you can contribute the example notebook in a PR, following [these instructions](http

[2020-03-13 18:03] mgeier commented on #119
Just a little update from `nbsphinx`: I've found a problem with the current way to use `jupytext` in `nbsphinx` and I'm suggesting a possible solution: https://github.com/spatialaudio/nbsphinx/pull/408

Please try it out and leave your comments/suggestions over there!

[2020-03-13 18:06] mgeier commented on #247
@sotte wrote above (https://github.com/mwouts/jupytext/issues/247#issuecomment-529180883):

You should have told me, I wasn't aware of this problem until a few days ago!

I've tried to come up with a solution in https://github.com/spatialaudio/nbsphinx/pull/408, please check it out!

[2020-03-13 18:17] mwouts commented on #448
While reading the latest [plotly changelog](https://github.com/plotly/plotly.py/blob/master/CHANGELOG.md#454---2020-03-11), I see that they managed to make their JupyterLab extension work in both JupyterLab 1.x and 2.0. There extension only depends on `jupyter-widgets/base`, and they seem to use a magic pattern `"^2.0.0 || ^3.0.0"` to achieve this:
[code]

Cf. https://github.com/plotly/plotly.py/p

[2020-03-13 18:25] mwouts commented on #432
I've not had time to test this throughfully, but I think that `pandoc` may be able to do that. Could you give a try to this?
[code]

In my quick test, it was able to
- wrap paragraphs
- wrap items
- and quotes

Also, I see that I introduced a regression in the CLI, as the output of the piped command in Jupytext 1.4.0 is now displayed on the shell... I'll fix that soon.

[2020-03-13 21:28] sotte commented on #247
I'm actually pretty happy with my `Makefile` solution. Thank you though!

[2020-03-13 21:31] kikejimenez opened #454 "Different notebook cells to different script files"
Is it possible to go from various script files to one notebook file and vice-versa?
The purpose is to run sequentially those scripts on the notebook and sync their updating.
From  the documentation, it is unclear to me if this is possible

[2020-03-14 06:52] thomaspernet commented on #453
Dear @mwouts
thanks for your reply. Here is the [link](https://nbviewer.jupyter.org/github/thomaspernet/VAT_rebate_quality_china/blob/master/Data_analysis/jupytex_replication.ipynb) to download a reproducible notebook. I added the steps in the notebook with the link to install SOS-Kernel.

I hope it won't take too much of your time, or too complicated to add another Kernel..

Thanks!

[2020-03-14 14:32] mwouts commented on #454
Hello @kikejimenez , well no sorry, this is not possible. Jupytext always converts, or pair, a single notebook, to a single text file.

Of course, if you'd like to concatenate the multiple scripts yourself, then Jupytext can easily turn the concatenated script into a notebook, but I don't think this is was you are looking for, right?

Also, have you seen the [`%load` magic command](https://ipython

[2020-03-14 21:28] mwouts commented on #448
I realise that we probably cannot use the same trick as plotly, because there is no version 1.0 for [`@jupyterlab/nbformat`](https://www.npmjs.com/package/@jupyterlab/nbformat?activeTab=versions).

[2020-03-14 22:00] mwouts commented on #453
Thank you @thomaspernet for the notebook, that is very helpful!

I have added the SoS language in the _add_sos_ branch, would you like to give it a try, and confirm that it works now? You can install the development version with
[code]
(dont forget to restart your notebook server before testing).

[2020-03-15 01:38] kikejimenez commented on #454
Thanks for your reply @mwouts, I'll take a look at your suggestions and work for some intermediate solution that takes:
many scripts --> one script --> notebook (and vice-versa)
Again, many thanks!

[2020-03-15 08:11] #453 closed

[2020-03-16 23:15] #447 closed

[2020-03-17 16:14] bzinberg opened #459 "Behavior of "File -> Download as -> ..." depends on which formats the notebook is paired with"
Thank you for making Jupytext awesome.

Steps to repro:

1. From the notebook web interface, create an empty Python notebook.
1. Open the Python notebook, pair it to a light-script, save, and close.
1. Open the `.py` file corresponding to the notebook.
1. Unpair the `.py` file from the "ipynb document" format, and (I don't think this is necessary) delete the `.ipynb` file
1. Create and evaluate a

[2020-03-17 16:37] #454 closed

[2020-03-17 21:45] jhelie opened #460 "Wrong cell separation when creating .ipynb from .py"
Let's say I work in a notebook file, paired to a `.py` file, and write one function per cell.

When I re-generate the `.ipynb` notebook from the `.py` file I have noticed that some functions now live in the same cell.

This is best illustrated by the images below. The following code:
![Screenshot 2020-03-17 at 21 43 10](https://user-images.githubusercontent.com/7881978/76904670-5777ad00-6898-11ea-

[2020-03-18 22:42] mwouts commented on #460
Hello @jhelie . Thanks for reporting this. Yes that is not expected.... Maybe you could share, or email me privately, a sample notebook that reproduces the issue?

[2020-03-18 22:48] mwouts commented on #454
You're welcome! And please keep us posted!

By the way
1) I've seen a (non-Jupyter) notebook system in which the cell content is stored in scripts: cf. the dotnet/try iteractive Markdown files, used by Microsoft for C# and F# notebooks (these are not supported by Jupytext at the moment, see #438)
2) And, maybe your question is related to child documents. We have been working recently on a new Mark

[2020-03-18 23:35] mwouts commented on #459
Hello @bzinberg , thanks for asking.

Actually I'm not so sure of what happens exactly when you do _Download as ..._. I've tried looking into this at https://github.com/jupyter/notebook, but I could not find out if what you get is the result of a `nbconvert` command applied to the local `.ipynb` file (or the `.py` file in your case?). To tell the truth I am even a bit surprised that you get anythi

[2020-03-19 03:49] choldgraf opened #462 "jupytext.write doesn't error if `fmt` is unknown, but the output file has a known extension"
Just playing around with MyST -> ipynb -> MyST right now. The ipynb syncing works beautifully! I love it

I am having a hard time getting MyST code cells to render as `ipynb` code cells.

E.g., this markdown:

[code]

has its ` ```{code-cell} ``` ` read in as markdown instead of being converted to Python code cells.

I tried adding double-spaces between them but that didn't do the trick. Anything

[2020-03-19 07:53] mwouts commented on #462
Hello @choldgraf , @chrisjsewell , well, I'd suggest adding a test based on your document to either [test_ipynb_to_myst.py](https://github.com/mwouts/jupytext/blob/master/tests/test_ipynb_to_myst.py), or to a new test file `test_read_simple_myst.py` based on [test_read_simple_markdown.py](https://github.com/mwouts/jupytext/blob/master/tests/test_read_simple_markdown.py).

As far as I can tell, it'

[2020-03-19 08:44] chrisjsewell commented on #462
I tried adding to `test_ipynb_to_myst.py`, and didn't find a problem:

[code]

[code]
        """
    )
    print(myst_to_notebook(text))
    assert matches_mystnb(text) is True
[code]

[2020-03-19 08:58] chrisjsewell commented on #462
Are you sure it doesn't start on the 2nd line or something?

The only other thing I can think of is that you are running in windows right? Perhaps it could be something to do with line ending in `\r` rather than `\n`

[2020-03-19 11:29] chrisjsewell commented on #462
Oh I've just noticed you are using myst-parser v0.6, you should be using >= 0.7.1
This in the requirements: https://github.com/mwouts/jupytext/blob/a0676d71afed4bae4cd2fbfd108b44189e940fe8/setup.py#L39
but no specific check is done for a lowest version within jupytext (just that you are using the same minor version).

[2020-03-19 16:22] choldgraf commented on #462
ahhh yes, I believe that myst-parser was a key issue here. I've upgraded it and it now works much better! Amazing :-)

One thing that I think exacerbated my problem, if I write the notebook to markdown and give a `fmt=` value that jupytext *doesn't* have, then jupytext still writes the format just fine. E.g., this works:

![image](https://user-images.githubusercontent.com/1839645/77089314-ea146b00

[2020-03-19 21:43] jhelie commented on #460
Hi Marc, sure I'll try to send you one over the weekend.

[2020-03-20 07:53] mwouts commented on #462
Thanks @choldgraf , that is a good point... I agree that `jupytext.write`  should raise an error in that case. I'll see how to add a test and fix that.

[2020-03-20 12:05] stephenkraemer opened #464 "Possibility to keep cell output when refactoring e.g. in PyCharm"
First of all, thanks for this great tool, what a game changer!

Use case: I often switch between editing the python script of a notebook in PyCharm and the notebook itself in jupyterlab. A major use case is to use PyCharms refactoring capabilities, to rename variables etc. Refactorings may hit several notebooks at once, for example if I rename functions in modules used across the notebooks of an e

[2020-03-20 18:22] mwouts commented on #464
Hello @stephenkraemer, thank you for your kind words, much appreciated!

Yes, what you are looking for should be possible. The way it works, currently, is the following:
- Jupytext reads the two notebooks: `.py` (without outputs) and `.ipynb` (with outputs)
- The two notebooks are merged into one with the function [`combine_inputs_with_outputs`](https://github.com/mwouts/jupytext/blob/master/jupyt

[2020-03-21 11:35] jhelie commented on #460
@mwouts I was trying to create a MWE and found out what my mistake was: one of my docstrings started with `""""` (4 double quotes instead of 3).

If you want to reproduce just create a `.ipynb` with this 2 cells:
[code]
and
[code]
So no bug, I'm just surprised that this didn't break the code - it looked and performed as expected.

[2020-03-23 07:03] stephenkraemer commented on #464
Thanks for your quick response, help and interest! Off the top of my head it seems difficult to combine both content and index matching. But it may make the functionality more generally useful. If you are interested in getting a pitch for this, I would look into combine.py and get back to you. Unfortunately, it might take me a while to get to it, but I'd still be happy to give it a try!

[2020-03-23 08:44] mwouts commented on #464
Hello @stephenkraemer, thanks! Well I don't want to take to much of your time. Unless you are really willing to try this out yourself (which you can, of course!), I think I should be able to propose something later this week, and you help would be very useful for the testing/feedback part. Is that ok with you?

[2020-03-23 09:46] mwouts commented on #460
Oh, interesting! I'm sure we can improve the string parser to avoid this... let me have a look...

[2020-03-23 14:12] stephenkraemer commented on #464
Hi @mwouts, if you can have a look at this yourself that would of course be even better! I just did not want to ask for a new feature without offering my help. I am looking forward to testing or discussing anything in this direction!

[2020-03-25 16:02] btribonde opened #466 ""RawNBConvert" is converted as markdown cell (light script py -> ipynb)"
Hello @mwouts

I think I have spot an issue with light script to ipynb convert.

A notebook with two RawNBConvert cells at the beginning of the notebook seems to be converted as one RawNBConvert and one MarkdownCell.

This can reproduced using the following notebook with both cells are RawNBConvert:

[code]

`In [] Y`

This is converted as:

[code]

You can already spot that the first cell as been

[2020-03-25 16:16] mwouts commented on #466
Thanks @btribonde for reporting this. I'll see if I can add a test to reproduce this. Meanwhile, would you mind confirming this with
[code]
where `notebook.ipynb` your example notebook?

[2020-03-25 16:17] btribonde commented on #466
Adding ipynb notebook code
[code]

[2020-03-25 16:31] btribonde commented on #466
My bad, this has been fixed in 1.3.x. I will be sure to update all libraries to the last available version next time !

[2020-03-25 16:31] #466 closed

[2020-03-28 13:49] dlukes opened #469 "Add Markdown YAML header fields to notebook metadata"
I would like to add custom fields to the Markdown YAML header (`title:` and `author:`) and have them end up in the notebook's `"metadata":` field upon conversion from Markdown to `.ipynb`, instead of being copied as literal YAML into a raw cell at the beginning of the notebook. Is there a way to achieve that?

I tried the following but it doesn't seem to work:

[code]

The `title:` and `author:` Y

[2020-03-28 13:51] dlukes commented on #469
Alternatively, is there a way to specify this metadata in some other way than in the YAML header, so that it ends up stored in the notebook-wide `"metadata":` field? :)

[2020-03-28 14:11] dlukes commented on #469
Here's what that input markdown `test.md` file could look like:

[code]

This is the output notebook file that I get by running the command in OP:

[code]

And this is what I'm trying to achieve:

[code]

[2020-03-28 16:55] #462 closed

[2020-03-28 17:09] mwouts commented on #469
Hello @dlukes , thanks for asking! You were very close to finding the solution... `jupytext --to md` on your last example would have yield the answer, e.g.
[code]

As you notice, the notebook metadata is always under the `jupyter` section, at least in the default `md` format (in the [new `md:myst` format](https://jupytext.readthedocs.io/en/latest/formats.html#myst-markdown), the notebook metadata

[2020-03-28 17:39] #460 closed

[2020-03-28 17:41] mwouts commented on #460
What was happening is that the parser was seeing `"""` twice in the quadruple triple quote... You won't have this issue any more in the next release.

[2020-03-28 17:44] dlukes commented on #469
D'oh! So close :) On the other hand, if this information makes it into the docs, I hope it will have been worth it, I think it will be useful for other people who use Jupytext with Jupyter Book.

I searched the docs for 'metadata', so I looked [here](https://jupytext.readthedocs.io/en/latest/using-cli.html#notebook-and-cell-metadata-filters) (FYI, that section has a broken link to [here](https://j

[2020-03-29 13:16] mwouts commented on #464
Hello @stephenkraemer , I have a tentative implementation... Would you like to give a try to the PR #474 ? You can install that version locally with
[code]

[2020-03-29 14:15] stephenkraemer commented on #464
Hello @mwouts,
awesome, thanks a ton! I'll try it tomorrow and get back to you!

[2020-03-29 19:55] jhelie commented on #460
Glad to hear this was fixable - thanks for doing so so quickly!

[2020-03-30 12:41] asteppke opened #475 "pytest example fails on Windows"
With the inclusion of the pytest functionality jupytext becomes even more valuable, that is highly appreciated.

The current example fails on Windows though:

[code]

leads to
[code]

This is probably caused by the difference in behavior when treating quotes by `cmd.exe` in comparison with other shells or operating systems. Changing the quotes works around this problem and

[code]
runs without iss

[2020-03-30 17:56] mwouts commented on #464
Thank you @stephenkraemer. I will also be testing that version on my side for a few days - today at least everything went as expected!

[2020-03-31 07:40] mwouts commented on #475
Hello @asteppke ,

Yes, that is correct... I made the choice to use single quotes as this seems to be more standard in unix-like terminals, but you're right, they don't work on Windows. Maybe we could add a comment saying that single quotes should be replaced with double quotes on Windows - would it have help? Or do you think double quotes are common enough and that we can use them in unix termina

[2020-03-31 16:36] stephenkraemer commented on #464
Hi @mwouts! I am still very excited about this, just wanted to let you know that something came up outside of work and I am a bit behind schedule, so unfortunately there is no update from my side yet. But I'll have more opportunity to test this in the course of the week, and I am very much looking forward to it.

[2020-04-01 06:22] mwouts commented on #464
No problem @stephenkraemer ! Take your time, and no horries, we don't have a deadline here 😄

[2020-04-02 17:24] ucohen opened #477 "active-py does not clear paired notebook cell"
In paired py,ipynb configuration, a marked raw cell with an "active": "py" metadata or with an active-py tag does not exclude the cell from notebook.

steps to reproduce:
1. save test.py
2. open test.py as notebook
3. cells with active/tags set to py as shown in jupyter despite its marking
4. active="ipynb" works as intended (saving the notebook causes commenting)

file to reproduce:
test.py:
[cod

[2020-04-03 09:49] mwouts commented on #477
Thanks @ucohen for reporting this.

My expectation would have been that cell 1 and 2 become raw cells (an not code cells, as seems to be the case here) - I'll have a look.

[2020-04-03 20:31] ImtiazAtBradley opened #478 "add tags such as hide_code to .m files"
Hello,
Thank you for your excellent software, it is very useful.

I went through the various issues/documentations on Jupytext but could not figure this problem and would like to request your help.

I am writing matlab/octave code and converting them to Jupyter notebook.  It works very well.

Sometimes I need to hide portion of the code (e.g. to remove clutter) in the final .html or pdf file that

[2020-04-03 22:48] mwouts commented on #469
I have added a quick note about custom notebook metadata as you suggested it (and fixed the broken link). Thanks for your getting in touch!

[2020-04-03 22:48] #469 closed

[2020-04-03 22:53] #464 closed

[2020-04-03 22:54] mwouts commented on #464
I've been using this for one weeks, and it seems to work fine.

[2020-04-03 23:41] mwouts commented on #477
Indeed, the active/inactive cells were not working properly in the `percent` format in Jupytext 1.4.1. This should be fixed now on master, and will be included in 1.4.2. Thank you for spoting and reporting this!

[2020-04-03 23:41] #477 closed

[2020-04-03 23:52] mwouts commented on #478
Hello @ImtiazAtBradley , thank you for asking!

I have added an example for this at https://github.com/mwouts/jupytext/pull/480/files#diff-7b6725b34239de3d817d8db6338acec1

Basically you have to write:
[code]
if you are using the `light` format, and
[code]
if you are using the `percent` format.

One additional tip... did you know you can edit the `.ipynb` file and then get the changes on the `.m`

[2020-04-04 07:44] Atcold commented on #148
Can you let us know how to disable *gitgutter* when loading a notebook?
This does not work.
[code]

[2020-04-04 10:00] dlukes commented on #469
Thanks for addressing this so quickly!

[2020-04-04 15:00] ImtiazAtBradley commented on #478
Thank you for you such prompt response!
Excellent, it works very well.  I tried hiding cells, input and both work as expected.

jupytext --to ipynb test.m

then:

jupyter nbconvert Dr_Imtiaz_Numerical_Integration.ipynb
--TagRemovePreprocessor.enabled=True
--TagRemovePreprocessor.remove_input_tags="['hide_code']"
--TagRemovePreprocessor.remove_cell_tags='{"remove_cell"}' --to html_toc

And I get an

[2020-04-04 15:00] #478 closed

[2020-04-04 15:10] mwouts commented on #478
Great news! Thanks for your confirmation.

[2020-04-05 17:46] mwouts commented on #464
This is now available on pip: `pip install jupytext==1.4.2`. Please let me know if it works all right for you!

[2020-04-05 17:47] mwouts commented on #477
Jupytext 1.4.2 is now available on pypi: `pip install jupytext==1.4.2`, and is expected to fix this issue. Please let me know if you find the opposite! Thanks.

[2020-04-05 22:26] mwouts opened #482 "Activate pre-commit reformatting and checks for the Jupytext repository"
We could use the [pre-commit package](https://pre-commit.com/) to reformat and check Jupytext's code style at commit time.

I'll try to follow @chrisjsewell 's comments from #481 :

[2020-04-05 22:42] mwouts commented on #482
One of the first issue I had on Windows is that GitHub Desktop, and the commit dialog in PyCharm, were not able to commit any more.

To fix that I had to add
- the base miniconda directory `C:\Users\Marc\Miniconda3`
- and the bin directory `C:\Users\Marc\Miniconda3\Library\bin`
to the `PATH` environment variable.

Without the first one, `python` was not found, and without the second one the pre-co

[2020-04-05 22:45] mwouts commented on #482
Next issue is a series of errors `E203 whitespace before ':'`. According to https://github.com/psf/black/issues/544, we should ignore E203 in flake8.

[2020-04-05 22:50] phaustin commented on #482
loosely related:
one workflow feature  I've found  useful is the '-n ,--no-verify` flag, i.e. I use

`git commit -n`

when I'm  making a first cut but want to preserve commits, and it's a little premature to track down formatting issues.

[2020-04-05 22:51] chrisjsewell commented on #482
I couldn't think of a wrose development environment that Windows/PyCharm 😆 It's all about OSX/VS Code these days!

Yep see: https://github.com/ExecutableBookProject/MyST-Parser/blob/master/.flake8

[2020-04-05 22:56] chrisjsewell commented on #482
IMO it's never too early to handle formatting issues, and anyway `black` handles all that for you, so I don't see any excuse 😜 (I don't think I've made a commit in the last year which required me to bypass pre-commit)

[2020-04-05 23:01] mwouts commented on #482
@phaustin , yes, actually I had to recur to that already 😄

BTW, I am mostly taking notes to make sure we don't make potential contributors' work harder, and also because we have to choose between black and yapf...

Well, I know it's not mainstream, but you know it also has its positive side: at least I'm sure Jupytext is also going to work for non-unix users...

Thanks, I was already hitting the

[2020-04-05 23:06] chrisjsewell commented on #482
I prefer black, it generally gives better formatting.

[2020-04-05 23:14] mwouts commented on #482
Yes, I have this feeling as well, but actually I am curious to test both.

For now I have pushed the tentative `black` version at https://github.com/mwouts/jupytext/tree/pre_commit_black, let's see how it goes on travis!

[2020-04-05 23:27] mwouts commented on #482
I just gave a try to `yapf` at https://github.com/mwouts/jupytext/tree/pre_commit_yapf, and indeed it causes many more errors in `flake8` (E125,E126,E251,W503,W504, and then I stopped counting)

[2020-04-05 23:48] mwouts commented on #482
With the code reformatted by `black`, `pylint` issues a few `C0330` warnings. We can ignore them with https://github.com/mwouts/jupytext/commit/ff7d41977735516899ea7b37f524db6950a1ef60, and there seems to be no other side effect - after that, `pylint`'s score remains unchanged.

[2020-04-06 09:26] danieltomasz opened #484 "custom saving html code conflict with jupytext"
This is a  a variation of a quite popular chunk of code that allows for saving HTML version of the notebook.

[code]
When combining it with jupytext lines
[code]
It throws an error:
[code]

how to modify it? Or how to setup jupytext that it will also save HTML version of the notebook along py file?

[2020-04-06 10:03] mwouts commented on #484
Hello @danieltomasz , thanks for sharing this.

I think the issue here is that you are running `jupyter nbconvert` on a `.py` document.

Would you like to change your `post_save` hook to something like the below (i.e. test the extension, not the model type)?
[code]

[2020-04-06 11:44] danieltomasz commented on #484
Thanks for the fast answer! It was my fault, somehow I overlooked that the script instead of saving HTML tried to save again py file (like in the pre-`jupytext` times)

this line works
`check_call(['ipython', 'nbconvert','--to', 'html', fname], cwd=d)`

(BTW when jupytext was saving a file in light format there were no conflict, only when I switched to py

[2020-04-06 11:45] #484 closed

[2020-04-06 13:25] mwouts commented on #484
Oh I see... I also missed that 😄
So if we wrap it up, a correct post-save hook could be
[code]

[2020-04-07 15:21] asteppke commented on #475
Both options, either switching to double quotes completely or a short note that this is required on Windows would be fine.
Double quotes should work on both Unix and Windows terminals, their meaning is slightly different though and Python uses the underlying OS convention (expansion in Unix environments vs. handling of the whole command string by the executable in Windows).

Usually my code is spl

[2020-04-09 23:37] choldgraf commented on #271
Hey all - did this issue get resolved? I am working on building in more Jupytext integrations in Jupyter Book, and I'd like to be able to create Binder links that *automatically* open the file as a notebook rather than a markdown file. @mwouts any chance this is possible yet?

[2020-04-09 23:47] choldgraf opened #485 "A way to quickly add a jupytext header to a text file?"
I was wondering if there's a quick way to add the jupytext header to a file without needing to round-trip it to `ipynb` first. I find myself writing jupytext-ready markdown files, and then I need to go find another file and copy/paste its jupytext header so that readers will know what kind of jupytext format it is in.

Is there a way to quickly add a header with the default Jupyter kernels availab

[2020-04-10 07:50] mwouts commented on #271
Hello @choldgraf , I am not aware of any progress here, sorry. Furthermore, I am not very familiar with TypeScript yet, and this makes it a bit harder for me to work on this kind of issue...

As discussed above, I think there are two possible approaches: either we try and see how to fix the viewer settings at https://github.com/jupyterlab/jupyterlab/issues/7776, or we find a way to do that in the

[2020-04-10 09:39] mwouts commented on #485
Hello @choldgraf , you can do one of the below:
[code]

You may want to use these as well:
[code]
but unfortunately they don't seem to work at the moment... I will have a look!

[2020-04-10 20:18] choldgraf commented on #271
Makes sense - in the meantime I will try and get around this with some documentation in the new jupyter book docs (beta.jupyterbook.org)...I don't think it will be too clunky for folks, especially if they're willing to have both an `ipynb` and a `md` file in their repo

[2020-04-11 00:46] choldgraf commented on #485
ah great - OK cool I think we might build in a short-hand for this into jupyter-book, something like `jupyter-book init-myst myfile.md`. Let me know if the kernel name issue gets fixed

[2020-04-11 13:34] mwouts opened #487 "Activate Github Actions for the Jupytext repository"
Travis-CI is off for maintenance. Maybe it's a good time to give a try to Github actions?

Useful documentation:
- GitHub actions for Python: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions
- GitHub actions for Miniconda: https://github.com/marketplace/actions/setup-miniconda

I'd like to test both the install with `pip` (`requirements.txt` and `re

[2020-04-11 13:41] mwouts commented on #487
With https://github.com/mwouts/jupytext/commit/27e916c9263695bfc8e1865f3155fab9f67c2d0c I have the following issues:
- Python 3.4 is not available (I will drop it)
- Flake 8 fails on the pip CI:
[code]
- `conda env create` fails on the conda CI:
[code]

Maybe the last two issues are a sign that I am not running these commands at the root of the `jupytext` repo?

[2020-04-11 15:10] mwouts commented on #487
The error `/home/runner/work/_temp/98d1db20-f0af-4eba-af95-cb39421c77b0.sh: line 3: syntax error near unexpected token "('"` for the pip CI was caused by a missing comment char on the line `all Python files should follow PEP8 (except some notebooks, see setup.cfg)`

Now the pip CI is almost working - only the test for using Jupytext in a pre-commit hook fails with the following message:
[code]

Al

[2020-04-11 16:40] #487 closed

[2020-04-11 17:14] #485 closed

[2020-04-11 17:43] mwouts commented on #485
Apparently all the commands above seem to work fine... I have tested them on a broad range of configurations thanks to #488 .

[2020-04-11 20:40] mwouts opened #489 "Intermittent error when testing "jupytext --execute" on Windows"
From time to time some of the tests that run `jupytext --execute` fail on Windows. An instance when this occured is [this run](https://github.com/mwouts/jupytext/runs/579370683?check_suite_focus=true).

The corresponding error message is below:
[code]

[2020-04-11 20:57] mwouts commented on #489
A similar issue was documented at https://github.com/nteract/papermill/issues/426, and a fix is being prepared at https://github.com/jupyter/nbconvert/pull/1183.

[2020-04-11 21:01] mwouts commented on #489
In [nbconvert's documentation](https://nbconvert.readthedocs.io/en/latest/config_options.html) there is this paragraph:

[2020-04-11 21:09] mwouts commented on #489
An alternative is to use this other option:

[2020-04-11 21:45] mwouts commented on #489
I am still seeing the same error with `raise_on_iopub_timeout=True`, so I won't change anything in `jupytext`, and just skip the test if we see the timeout warning.

[2020-04-11 22:59] #482 closed

[2020-04-11 23:17] mwouts commented on #475
Thank you - I will take the second option.

Thanks for letting us know also how you use `pytest` in the context of a notebook! Actually I do have the same experience, it is really required to comment out some of the cells with the `active-ipynb` tag...

In the end, I found out that I was not really using `pytest` a lot on notebooks, but I had some fun with adding a few commented cells (with the `a

[2020-04-11 23:32] #475 closed

[2020-04-13 15:27] mwouts commented on #487
Based on this issue, I wrote a quick post on how to use GitHub actions - it's available here: https://github.com/mwouts/github_actions_python .

[2020-04-14 09:13] mwouts commented on #489
There is another occurrence at https://github.com/mwouts/jupytext/runs/584893307

[code]

[2020-04-14 12:42] stephenkraemer commented on #464
Hi @mwouts,
I am terribly sorry for the delay. This was due to the exceptional circumstances of the current times, and hopefully did not seem ungrateful.

Today, I have generated a few toy examples for my major use cases, which you have matched perfectly with your solution - awesome!:

1. Restructure notebooks: I pair the notebook with py, ipynb and md; then I use emacs to view the markdown struct

[2020-04-15 06:56] mwouts commented on #464
Thanks @stephenkraemer for your feedback! Really there is nothing to worry about, already you had contributed a very nice use case, and I was confident that the fix was mostly going to work...

I am glad to read that your first tests are positive! Indeed if you do multiple changes at once (i.e. refactor + reorder) you may create a more difficult situation for the matching algorithm and that could

[2020-04-19 10:18] hongyi-zhao opened #495 "jupytext plugin for pycharm."
Hi,

It seems there is still no jupytext plugin for pycharm.

Any hints?

Regards

[2020-04-20 21:26] mwouts commented on #495
Hello @hongyi-zhao , that is correct, we don't have a plugin for PyCharm yet. Note that we discussed that previously at #147, but I think now the notebook mode of PyCharm Professional works well - do you think the plugin would still be useful?

Also, in my experience, even without a plugin, jupytext works well with PyCharm. You just have to pair your `.ipynb` notebooks with `.py` files, using eith

[2020-04-20 22:17] hongyi-zhao commented on #495
It seems this mode doesn't respect the paring settings.

Thanks for your detail notes.

[2020-04-21 03:14] hongyi-zhao opened #497 "Autosave notebook always enabled when I (re)open a ipynb file."
Hi,

I find that `Autosave notebook` option always enabled when I (re)open a ipynb file.  How to disable this option for all ipynb files once for all and don't let it re-enabled while I (re)open a ipynb file?

Regards

[2020-04-21 08:19] mwouts commented on #497
Hi @hongyi-zhao , isn't that in the documentation: https://jupytext.readthedocs.io/en/latest/search.html?q=autosave ?

[2020-04-21 08:34] hongyi-zhao commented on #497
I've done all of settings found there:

[code]
Regards

[2020-04-23 14:23] matthew-brett opened #498 "Possibility of inline code?"
I continue to use Jupytext all the time, and here's another thank you for the huge improvement it has made to my work.

I know this is a fraught question, but I really miss the R notebook ability to put code outputs inline, as in:

[code]

Do you think there is any way of doing that?

[2020-04-23 22:08] mwouts commented on #498
Thank you @matthew-brett ! Very kind of you.

Are you using Jupyter Notebook, or JupyterLab ? In the former you could use the [python-markdown](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/python-markdown/readme.html) extension, and write

[code]

    My message is {{msg}}.

I think this also works with `nbconvert`.

In JupyterLab there does not seem to be anything li

[2020-04-23 22:10] mwouts commented on #497
Oh, I see. Can you have a look at https://stackoverflow.com/questions/25631344/turn-off-autosave-in-ipython-notebook and let us know which way works for you? Thanks.

[2020-04-23 23:46] hongyi-zhao commented on #497
I find the reason.  In fact, your method mentioned above is valid, but I don't know why the add line "Jupyter.notebook.set_autosave_interval(0);" to the file  ~/.jupyter/custom/custom.js, has been deleted from that file, or the custom.js has been reset by some other operations.

When re-write that line into the file, it does the trick.

Thanks again.

Regards

[2020-04-24 12:36] tirkarthi opened #499 "Deprecation warning due to invalid escape sequences."
Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again helps in resolving this. Check https://github.com/asottile/pyupgrade/ for automatic fix of this.

[code]

[2020-04-28 12:19] lukelbd commented on #119
@mwouts  Finally had the chance to try this out. It works perfectly! This really simplifies my workflow -- I can now just run a python linter on the jupytext files to test my documentation examples while keeping the sphinx RST links intact.

Might be worth highlighting this potential use case on the website.

[2020-04-28 12:38] chrisjsewell commented on #498
@matthew-brett also for your consideration https://myst-nb.readthedocs.io/en/latest/use/glue.html 😁

[2020-04-29 07:11] mwouts commented on #119
Great news @lukelbd !

Well, could you tell us a bit more? Maybe you have an example that you could share? Especially I'd be curious to know how you structure your documentation - do you maintain the main documentation and the notebooks in two different types of files (`.rst` and `.py` maybe?)?

Also, have you seen the new `myst` format, by the [Executable Book Project](https://github.com/Executab

[2020-05-01 04:05] nehalecky commented on #119
@mwouts , I've been subscribed to this tread for quite some time: nice to see the progress, and I am going to test out a few workflows here soon. Just FYI the link you have above to the _Executable Book Project_ is broken (possibly https://github.com/executablebooks). Keeping an eye on #247 and #432 also! Thanks so much!

[2020-05-02 00:59] wcbeard opened #502 "Unable to see jupytext in command palette after installation"
I tried installing jupytext, and it has worked in the past, but it isn't showing up in the menu on the new conda environment I've set up. Following the README, I've done the following commands:
[code]
Hopefully I'm not missing anything?

Some `pip freeze` entries (grepping for `jupy`) are

[code]

The following is what I see when searching in the jupyterlab menu:
![image](https://user-images.githu

[2020-05-02 16:10] mwouts commented on #502
Hello @wcbeard , thanks for reporting this. Indeed you should be able to see the extension. What was the outcome of the `jupyter lab build` command?

Also, unless you are using a very old version of Jupyter, which is not your case, it is not necessary to activate manually the three extensions (server + notebook + lab). Would you mind trying the following?

a) Install Miniconda
b) create an `enviro

[2020-05-03 06:45] lukelbd commented on #119
@mwouts Yep I now use a mix of `.rst` files and `.py:percent` files for my documentation. Previously, I used `.ipynb` files with [nbstripout](https://github.com/kynan/nbstripout) to avoid ballooning my repo size due to committing inline notebook images. But this is much simpler, especially for collaborators.

[Here's a py:percent notebook](https://github.com/lukelbd/proplot/blob/move-files/docs/ba

[2020-05-03 09:21] mgeier commented on #119
@lukelbd Please note that your usage of `nbsphinx_custom_formats` inhibits Sphinx's caching mechanism. I have added a better way to do this: https://github.com/spatialaudio/nbsphinx/pull/408.

You should use something like:

[code]

You don't need to `import jupytext` in this case.

See also https://nbsphinx.readthedocs.io/custom-formats.html.

[2020-05-04 01:04] lukelbd commented on #119
@mgeier Thanks for the suggestion, this is way better. Was trying to figure out why nbshpinx was re-compiling the notebooks every time.

[2020-05-05 18:48] abalter commented on #130
@mwouts I tried this, and unfortunately, it did not work.

[code]

Something else to try?

<pre>
---
jupyter:
  jupytext:
    cell_metadata_filter: -all
    split_at_heading: true
    text_representation:
      extension: .Rmd
      format_name: rmarkdown
      format_version: '1.2'
      jupytext_version: 1.4.2
  kernelspec:
    display_name: R
    language: R
    name: ir
---

[code]

[code]

#

[2020-05-07 15:39] wcbeard commented on #502
I'm able to get it working with a fresh new env using conda-forge, (though not able to apply it to existing envs). Thanks!

[2020-05-07 15:39] #502 closed

[2020-05-07 22:26] mwouts commented on #502
Good to hear! Note that, if you like, you can try to reinstall the [jupyterlab extension](https://www.npmjs.com/package/jupyterlab-jupytext) with
[code]
For most users this is not necessary, as the extension is bundled with the python package, but maybe in the case of your existing environments this can help solve the remaining issue.

[2020-05-07 22:46] mwouts commented on #130
Hello @abalter , well I gave it a try, and indeed I found two things that do not work as expected:
1. I'd like to set the `split_at_heading` option with just `jupytext notebook.Rmd --opt split_at_heading=true`, but that does not work in version 1.4.2
2. With the `split_at_heading: true` option in the `jupytext` section, like you have in the document, headers create new cells when they are proceede

[2020-05-07 22:51] abalter commented on #130
I think the line before a heading would probably make a document easier to read anyway.

Sounds great!

[2020-05-11 14:11] srnnkls commented on #62
What‘s the current state with this? Do you already have something to work on? I’d like to help.

[2020-05-11 21:38] mwouts commented on #62
Hello @srnnkls, thanks for reaching out!

Well, I am afraid that we've not made big progresses here... As you saw above, one can use [ox-ipynb](https://github.com/jkitchin/ox-ipynb), by @jkitchin, to  convert org-mode documents to ipynb, but I am not aware of a tool doing the opposite conversion.

It would help much if you could write two functions that convert a notebook object to its text repres

[2020-05-13 14:57] jkitchin commented on #62
You can use pandoc to convert ipynb to org right now. It is technically possible to do a round trip conversion, but you will lose things like cell metadata, and probably some formatting.

It would not be hard to use elisp to convert an ipynb to an org file containing markdown blocks and code blocks. Also not hard to do that in Python. It might be tricky either way to deal with the results.

[2020-05-13 16:15] mwouts commented on #62
Oh, that's interesting! What we could do, then, is to use `ox-ipynb` on one side, and `pandoc` on the other side, plug this into Jupytext's collection of test notebooks, and see how well this work :smiley:  (or not). If time permits I will give it a try!

[2020-05-13 19:48] srnnkls commented on #62
Hey, thank's for taking the time to discuss options. Another option for ipynb to org conversion is [nbcorg](https://github.com/ahrenberg/nbcorg.) I'm using `nbcorg` and `ox-ipynb` at the moment. That works well but I'd like to have a emacs independet solution that works from jupyter and the command-line. That is what brings me here. As a `nbconvert` plugin `nbcorg` uses `jinja` templates. You are

[2020-05-13 20:59] srnnkls commented on #62
Okay, I just realised that for markdown you use `pandoc` under the hood as well. I will write a round trip test first, then. I don't know when I find the time to work on this but probably sometime within the next week.

[2020-05-13 22:51] mwouts commented on #62
@srnnkls , if that can help, I have prepared a branch with a tentative implementation of the `org` format based on `pandoc` (back and forth), see the last three commits here: https://github.com/mwouts/jupytext/commits/org_pandoc:

- The first commit https://github.com/mwouts/jupytext/commit/086178b8390d52e684c9e678e16a5f3cff2ea4d4 adds the `org:pandoc` format to Jupytext (and simply calls `pandoc`

[2020-05-14 06:03] srnnkls commented on #62
Wow, thank you! I‘ll have a look. Removing results before converting to text and just adding them back to the notebook version is a nice approach; good to know about it.

[2020-05-16 12:22] slideclimb opened #506 "Wrong paired paths when syncing with the --pre-commit flag"
I have the following directory structure, where the `nb/test.ipynb` is paired with the `py/test.py`.

[code]

The notebook and Python file are paired with `"jupytext": {"formats": "py//py,nb//ipynb"}`. (using `jupytext --set-formats py//py,nb//ipynb nb/test.ipynb`)
This works fine when syncing with `jupytext --sync nb/test.ipynb`, but when syncing with `jupytext --sync --pre-commit` I get the foll

[2020-05-16 21:57] mwouts commented on #62
Just a note for the people who subscribed to this thread... I have opened an issue at pandoc regarding the round trip ipynb-org-ipynb: https://github.com/jgm/pandoc/issues/6367.

The issue also raises the question of how the notebook cells should be represented in org mode. Personally I think that the representation should remain as simple as possible, because the users are going to type it :smile

[2020-05-17 22:22] mwouts commented on #506
Hello @slideclimb , thank you for reporting this. I will have a look soon.

[2020-05-18 22:42] mwouts commented on #506
Hi @slideclimb , I have extracted a test from your report (thanks again), see https://github.com/mwouts/jupytext/commit/ff5b466a3f0950281237c64fa08b86ac877334a6 .

Here at least, the test runs OK, so I am sorry I have not yet reproduced your issue.

Do you think there is remaining difference, either
- in the notebook metadata (but, according to the error message, we do seem to have the same `jupyt

[2020-05-19 13:01] ronigold commented on #393
Hi.
I installed Jupytext in the Jupyter Hub and also want to edit the jupyter_notebook_config Can you explain to me how I got there?

[2020-05-19 13:02] ronigold commented on #393
Hi. @timothymillar @mwouts
I installed Jupytext in the Jupyter Hub and also want to edit the jupyter_notebook_config (For the scripts to be stored in a separate folder), Can you explain to me how I got there?

[2020-05-19 13:10] ronigold opened #507 "How to store scripts in a separate folder in Jupyter Hub."
I installed Jupytext in the Jupyter Hub and also want to edit the jupyter_notebook_config For the scripts to be stored in a separate folder.
in my local machine, I edited the file in C:\Users\#USERNAME\.jupyter\jupyter_notebook_config.py
Can you explain to me how I got there in Jupyter Hub?
editing the jupyter_Hub_config Did not affect Jupytext.

Thanks, Roni.

[2020-05-19 19:08] slideclimb commented on #506
Thanks for taking the time to create a detailed example!

The only difference I see is that you have the notebook file tracked in git, whereas I have the Python file tracked. This seems to be the problem, tracking only the Python file throws an exception, but tracking (only) the notebook file works fine. We don't have any difference in the other points you mentioned. The metadata is the same and `

[2020-05-19 20:46] mwouts commented on #506
Oh I see...  So, indeed now I can reproduce what you see (and I'll try to fix it).

Now, the question is what you want to do with the pre-commit. If you have the Python file tracked, then the `.ipynb` notebook will be updated when you change the `.py`  file and commit. And if you edit the `.ipynb` file, then Jupyter will update both files, so your setting looks fine indeed! (and is probably a bett

[2020-05-19 21:40] timothymillar commented on #393
Hi @ronigold
I don't think you can edit `jupyter_notebook_config.py` from within jupyter/jupyterhub.
You need to edit the file with a text editor (it's a standard python file).

I don't know how to do that but but this is how you can set up a user or global `jupyter_notebook_config.py` file:

If you want to set the configuration for a single user you need to edit that users copy of `jupyter_notebo

[2020-05-21 16:42] mwouts commented on #499
Hello @tirkarthi , thanks for pointing this out. Well, the files that you are looking at are representations of [this notebook](https://github.com/mwouts/jupytext/blob/master/tests/notebooks/ipynb_py/Line_breaks_in_LateX_305.ipynb) that contains $\LaTeX$ formulas.

Would you expect Jupytext to translate the original string that does contains inputs like "\\d" (unescaped backslash), into "\\\\d" (e

[2020-05-21 16:49] mwouts commented on #498
@matthew-brett , did you give a try to one of the above? Which is your favorite?

[2020-05-21 16:52] mwouts commented on #497
Well, I don't know these `profile/static/custom/custom.js` - and IPython is a (very) old name for Jupyter. So I think you should be using `.jupyter/custom/custom.js`, don't you?

[2020-05-21 16:52] #497 closed

[2020-05-21 19:29] mwouts commented on #384
Hello everyone. I've been working on this recently, and I have a PR more or less ready at #508.
The documentation is here: https://github.com/mwouts/jupytext/blob/jupytext_config_file/docs/config.md

It seems to work well, but I would like to get your advice on one point...

My question: do you think I can really search in every parent directory for a Jupytext configuration file?

May that cause i

[2020-05-22 00:18] hongyi-zhao commented on #497
If so, see [here](https://aiida.readthedocs.io/projects/aiida-core/en/latest/install/configuration.html?highlight=.ipython%2Fprofile#using-aiida-in-jupyter), which told that:

`If you want to set the same environment as in a verdi shell, add the following code to a .py file (create one if there isn’t any) in <home_folder>/.ipython/profile_default/startup/`

For this case, the config folder locatio

[2020-05-22 06:29] grst commented on #384
Hi @mwouts, this is great progress!

Here are a few thoughts:

I don't think that would be an issue. You would just catch an exception and not find the file (which is legitimate as you don't have permission to read it)

I'm not sure if I got that right: The contents manager searches for config files for every single file that shows up in, e.g. the *File Browser* tab of jupyterlab even if the files

[2020-05-22 10:13] matthew-brett commented on #498
Thanks for the follow up.  Sorry not to get back to you, I was reflecting.

I realize that my question wasn't properly considered.  My use case is that I want to distribute notebooks as part of an interactive textbook; the textbook has the filled-in (executed) version, but the student downloaded the not-executed version.  I think this means that neither of the two suggestions here are going to wor

[2020-05-22 11:15] mwouts commented on #384
Thank you @grst ! That is very helpful.

I have added a (one minute) cache for the current directory in the contents manager, and also implemented `JUPYTEXT_CEILING_DIRECTORIES`.

I'll merge the updated PR when the tests pass, and publish a RC with this feature soon.

[2020-05-22 11:20] grst commented on #384
I'm a bit skeptical regarding a one minute cache.

What if I'm 'debugging' the config file, trying to find e.g. the right pairing for my project?
In that case I would have to wait a minute after each change. Or even worse, if I didn't know about the cache, I would have the feeling that something is behaving 'randomly' because, at first, the change doesn't take effect, and then suddenly it does...

[2020-05-22 13:08] mwouts commented on #384
Good point... Do you think 1 or 10 seconds would be better? Alternatively/in addition, I'll have a look and see if we can use the cache only when `get` and `save` are called with `content=False`, and make sure that we use the latest config when actually reading or saving a notebook.

[2020-05-22 13:15] grst commented on #384
that would probably be the cleanest solution.

A pragmatic solution could be to set the cache to 1 sec. In that case it's quite unlikely to affect anyone.

[2020-05-22 13:16] mwouts commented on #498
Hi @matthew-brett , well sure, we could think of translating `py a` in R Markdown files to `{{a}}` in Python Jupyter notebooks, and back. I'll think about that - it would be the first non-verbatim translation for the content of Markdown cell - but if it can help, why not?

[2020-05-22 13:18] matthew-brett commented on #498
Well - I think it wouldn't help me - at the moment - because of the problem of relying on a not-standard plugin.  So maybe wait until someone screams on this thread?   Maybe that will be me!  But not yet.

[2020-05-22 13:27] mwouts commented on #498
Haha... Sure! Then, if you don't mind maybe I'd prefer to close this thread for now, and anyone interested can either reopen of create a new follow-up. Is that ok with you? Thanks!

[2020-05-22 13:28] matthew-brett commented on #498
Fine either way.  I guess, if you leave it open, you signal that you're open to negotiation on this one.

[2020-05-22 13:33] mwouts commented on #498
I see - indeed I like your question, so let's keep this open and see what we can do on the long term.
Also, I was thinking, we've discussed R Markdown and ipynb, but maybe there is something that we could for Python files with the f-strings...

[2020-05-22 13:43] mwouts commented on #384
Good news - it was easy to do both, i.e. use the cache only when `content=False`, and for one second maximum, see https://github.com/mwouts/jupytext/pull/508/commits/0f0baf408c457b73ecc650043895591d7a6a51d5.

I've merged the PR. I'll close the issue now, but will come back to let you know when the corresponding RC is available.

[2020-05-22 13:43] #384 closed

[2020-05-22 13:59] mwouts commented on #506
I have added the test above to the collection of Jupytext test. Following the changes made at #508 , the test now works, so I'll close this issue, and let you know (soon) when I have published a release candidate so that you can test on your side. Thanks again for your report!

[2020-05-22 14:49] mwouts opened #510 "Make sure that jupytext --help fits nicely on a standard linux terminal"

[2020-05-22 15:05] mwouts commented on #424
I have implemented something like this in Jupytext 1.5.0 (RC coming soon). You'll have to use e.g.
`jupytext.formats="notebooks///ipynb,scripts///py"` (triple slash), and this gives the pairing in tree. See for instance this test:

https://github.com/mwouts/jupytext/blob/ccb736c53d6468759671964c897d762c5f94a203/tests/test_cli.py#L1018-L1027

[2020-05-22 16:16] #510 closed

[2020-05-22 16:29] #424 closed

[2020-05-22 16:59] mwouts commented on #384
The rc is available:
[code]
Please give it a try, and let me know if it works as expected!

[2020-05-22 16:59] mwouts commented on #424
The rc is available:
[code]
Please give it a try, and let me know if it works as expected!

[2020-05-22 17:00] mwouts commented on #506
@slideclimb , would you like to give a try to the latest RC, and hopefully confirm that the problem is gone? Thanks!
[code]

[2020-05-22 18:02] slideclimb commented on #506
Thanks for the quick fix! I can confirm that the exception is gone :smile:... But the pre-commit hook does nothing when I change the notebook file. (The list of `notebooks in git index` is empty.) Syncing manually (with `jupytext --sync nb/test.ipynb`) then updates the Python file, but when committing after that, git complains that it can't add the notebook file to git because it's in the .gitigno

[2020-05-22 19:36] mwouts commented on #506
Thanks @slideclimb for the follow-up.

I'll adjust the test to match your use case, i.e. add `*.ipynb` to `.gitignore`.

One more question: which program do you use to edit the `.ipynb` file? If it's Jupyter notebook or Lab, and if you have Jupytext installed in the same environment, then `.py` file should be updated when you save the `.ipynb` file. But if you use other editors like PyCharm of VS

[2020-05-22 19:38] grst commented on #384
Sure, i'll have a look the next days!

On Fri, 22 May 2020 at 18:59, Marc Wouts <notifications@github.com> wrote:

[2020-05-22 19:51] statquant commented on #415
Closing this

[2020-05-22 20:22] slideclimb commented on #506
Thanks, I really hope we get it right this time :p

I use PyCharm.

[2020-05-23 12:16] malayhm opened #513 "configure magic conversion is seamless"
%%configure magic code conversion is not seamless, for example:
[code]
gets transformed to python code & r code
[code]
and gets transformed to scala code
[code]

I think the conversion should be completely commented similar to SQL magic %%sql.

[2020-05-23 15:13] mwouts commented on #513
Hello @malayhm , thanks for reporting this.
This happens because Jupytext is not aware of the `%%configure` cell magic.

Now we could think of three ways of fixing this...
a) You add a line continuation `\\` character to the configure magic cell, e.g.
[code]
b) we add `configure` as an additional Jupyter language (can you tell us which package defines the `%%configure` magic?)
c) we always escape

[2020-05-23 20:58] mwouts commented on #506
@slideclimb, that's good to know. We don't have a plugin yet for PyCharm (cf. #147), but I was wondering if one couldn't use the File Watchers in PyCharm. Personnally, I [do this for black](https://black.readthedocs.io/en/stable/editor_integration.html), and it works well. So I tried the following:

![Screenshot from 2020-05-23 22-44-06](https://user-images.githubusercontent.com/29915202/82740284-

[2020-05-23 23:09] Codym48 opened #517 "Sync with Doxygen (including LaTeX Equations)"
Outstanding project, @mwouts! I can see this being very useful.

For some other large mixed-language (Python and C++) repositories, we're using Doxygen as the main documentation tool. Any suggestions for the best way to use or update jupytext to support this workflow? I have a test project available at [CodyM48/aircraft-motion](https://github.com/Codym48/aircraft-motion/tree/jupytext) that describ

[2020-05-24 01:36] zmoon92 opened #518 "broken link on the faq page"
On the [faq page](https://jupytext.readthedocs.io/en/latest/faq.html) there is a link to a header on another page in [this section](https://github.com/mwouts/jupytext/blob/master/docs/faq.md#i-want-a-specific-cell-to-be-commented-out-in-the-paired-script). This is the code: `That's possible! See how to [activate or deactivate cells](formats.md#active-and-inactive-cells).`. It works on GitHub, but

[2020-05-24 01:55] zmoon92 commented on #518
Seems like it a noted issue, e.g.,
* https://github.com/readthedocs/recommonmark/issues/179

[2020-05-24 08:18] slideclimb commented on #506
That's a great solution! Didn't know about file watchers. I suppose this works, and I guess the pre-commit hook then indeed is unnecessary.

Nonetheless, I still think the pre-commit hook should work...

---

About a plugin, I have some experience with JetBrains plugins, so if you want I could try to cook up a prototype some time? I guess it should be possible to register file watchers from within

[2020-05-24 09:30] junichiyamasaki opened #520 "nothing shows up in the File menu / Command palette after installation"
Hi, I am a beginner of jupyter lab / jupytext and trying to install jupytext (1.4.2) for my jupyter lab (2.0.1). I followed the instruction and tried every command listed there (configuration file, manual activation), but nothing shows up in the File menu or command palette as in the case of #502.

When I start jupyter lab, I notice that
`[I 18:07:06.760 LabApp] [Jupytext Server Extension] Noteboo

[2020-05-24 17:30] grst commented on #384
I gave it a quick try -- seems to work splendidly :)

[2020-05-24 18:03] mwouts commented on #520
Hello @junichiyamasaki , I would tend to think that you don't have the correct version of node. Would you like to `pip uninstall nodejs`, and reinstall it with `brew install node` (following https://jupyterlab.readthedocs.io/en/stable/user/extensions.html) ?

[2020-05-24 20:45] mwouts commented on #518
Thank you @zmoon92 for sharing this. I think I've seen cases like this before - I will have a look.

[2020-05-25 04:00] junichiyamasaki commented on #520
Thank you @mwouts , I now can find jupytext in the Command palette. I still do not find it in the File menu even after
[code]
, but it successfully pairs the notebook from the Command palette, so I can keep using it.  I can close this issue now, but do you have any quick ideas for this problem?

[2020-05-25 14:41] mwouts commented on #520
Great to hear! Well, the reason why you don't have the Jupytext menu in Jupyter Lab... is because it does not exists :smile: - the menu is only for Jupyter Notebook, not Lab.

[2020-05-25 15:33] malayhm commented on #513
@mwouts Thanks for the quick response. Let me dig deeper and find out which one of the above solutions will bring the desired behavior.

[2020-05-25 18:35] slideclimb commented on #506
I tried setting up the file watchers in an existing project. So the notebook and python files are already paired, and currently synced. I observed the following:

- When using only a watcher on the notebook, things seem to work pretty well. I'm not too convinced, as the first few times I executed a cell the entire notebook disappeared (which I could recover thanks to git), and later all the output

[2020-05-26 01:37] mwouts commented on #517
Hello @Codym48 , thanks for sharing your use case! That's very interesting.

Let me answer a few points and add a few more questions...

That's a great idea! And not only for DOxygen - even on GitHub sometimes we don't want to see the file metadata. Maybe we could offer an additional format option like e.g. `comment_notebook_metadata` to allow this (note that, since the metadata is in YAML format,

[2020-05-26 01:42] mwouts commented on #513
Sure! Keep us posted. Let us know if know if a) works for you. Also, if you want to try b) locally, that's easy, you just need to add `"configure"` to `_JUPYTER_LANGUAGES` in [jupytext/languages.py](https://github.com/mwouts/jupytext/blob/master/jupytext/languages.py).

[2020-05-26 02:01] mwouts opened #521 "Jupytext configurations directories on Windows"
In Jupytext 1.5.0rc1 the list of configuration directories on Windows is not meaningful (see below). It should include %USERSPROFILE% and %ALLUSERSPROFILE%.

[code]
[code]

[2020-05-26 02:02] mwouts commented on #507
Hello @ronigold , I am not so sure of what you want to achieve... Do you want to change the default Jupytext configuration for just one user, or for all the users?

Anyway, maybe the new [configuration files](https://jupytext.readthedocs.io/en/latest/config.html#jupytext-configuration-file) that will come in Jupytext 1.5.0 will be helpful for this.

[2020-05-26 03:16] mwouts commented on #506
Thank you @slideclimb for the update. Yes using Jupytext in a file watcher is super new and maybe not so safe... Maybe this is because `jupytext --sync` is 100% based on file timestamps. And maybe we can improve this based on the experience with the two other plugins that exist at the moment:

a) In Jupyter, the plugin
- will always load the input cells from the text version
- but has an additiona

[2020-05-26 03:25] mwouts commented on #518
The links above were really helpful! Thanks.

For now I have used `link.html#anchor` when an explicit anchor is needed, so readthedocs will work, but browsing the link on GitHub will not for now. I have subscribed to the linked issues, and I'll try to not forget reversing that when the recommonmark issue gets fixed!

[2020-05-26 03:25] #518 closed

[2020-05-26 03:37] mwouts commented on #521
With the linked PR the result is better:
[code]

[2020-05-26 03:55] mwouts commented on #443
Just a quick note on this:
- the sub menu entries 'File -> New Notebook -> Kernel' are created in [notebook/static/notebook/js/kernelselector.js](https://github.com/jupyter/notebook/blob/6e9256b0641a85baf664e846515085bac2c082a3/notebook/static/notebook/js/kernelselector.js#L80-L90)
- the sub menu for the tree view is created in [notebook/static/tree/js/newnotebook.js](https://github.com/jupyter/no

[2020-05-26 03:55] #521 closed

[2020-05-26 06:51] junichiyamasaki commented on #520
I was too sloppy to check it 😄  Thanks a lot!

[2020-05-26 06:51] #520 closed

[2020-05-26 10:49] malayhm commented on #513
Hello @mwouts,

Here are my findings:

This produces the same output, hence it will not work.

It is part of sparkmagic, https://github.com/jupyter-incubator/sparkmagic

![image](https://user-images.githubusercontent.com/1881135/82881129-e7069f80-9f5c-11ea-9b60-dd764ba9d277.png)

I think, jupytext should support `%%time`, we can not use the blanket approach to comment out all the magic.

There wil

[2020-05-26 19:13] rsokl commented on #443
This would be awesome!

[2020-05-27 22:43] mwouts commented on #443
I have a UI working with https://github.com/mwouts/jupytext/commit/448fcc097e330c5256f1cf6dc7c4e4306dffaf30:
![Screenshot from 2020-05-28 00-33-41](https://user-images.githubusercontent.com/29915202/83078893-ebc17580-a07a-11ea-9ab6-3ea2c7c05591.png)

but unfortunately... it still creates an `.ipynb` file!

Maybe @jasongrout will know how to get this working.

Jason, I am trying to use the "ext" pa

[2020-05-28 06:02] mwouts commented on #443
Haha I found the reason: it is because of `ext = ".ipynb"` in [notebook.services.contents.manager.ContentsManager.new_untitled](https://github.com/jupyter/notebook/blob/b44fc3b01dd1ae059170ab9ea657e34d44f5e36c/notebook/services/contents/manager.py#L389).

With `ext = ext or '.ipynb'` instead it works slightly better, i.e. a new `Untitled.md` file is created.
One way to solve this is to override th

[2020-05-28 06:27] tordbb opened #524 "jupytext ignores lines starting with %"
I am using `jupytext --to ipynb *.Rmd` or `jupytext --to Rmd *.ipynb` to keep the pairs of Rmd and ipynb files in sync. This works nicely if I add code in either document and use the jupytext calls to copy these to the other file type.

However, it does not work if that line of code starts with either `%` or `# %`, as in `%autosave 0` or `# %autosave 0`. Such lines of code are simply not transferr

[2020-05-28 07:06] mwouts commented on #517
Great!

So in the short term, we will have two additional format options:
- `comment_notebook_metadata`
- `use_doxygen_latex_markers` (or whatever name you prefer, maybe a name focused on doxygen would be better if later on we add more doxygen specificities).

For user friendlyness we could have `use_doxygen_latex_markers` implying `comment_notebook_metadata=True` by default.

As you found out, th

[2020-05-28 07:16] mwouts commented on #524
Hello @tordbb , thanks for asking.

It is expected that Jupytext comments out magic commands (by default, because they don't make sense in a `.Rmd` document), but it should not remove any line when changing from one format to the other. If you have a reproducible example I would like very much to have a look.

Now, you can change that behavior with the `comment_magics` option (`jupytext --opt comm

[2020-05-28 07:28] mwouts commented on #443
@rsokl , I have packaged this in the new RC. Would you like to give a try to `pip install jupytext==1.5.0rc2` ?

[2020-05-28 07:32] mwouts commented on #513
Hi @malayhm , yes I agree that adding new items to the list of cell magics would be great. I'll think about how to do that.

Also, I think the continuation line approach (which is only a quick fix, I agree) should work. At least it does work in this unit test: https://github.com/mwouts/jupytext/commit/6b6317dabaf5aa96fbb58f354acc75002ef471f3. Would you like to give it a second try? Maybe in the no

[2020-05-28 07:54] mwouts commented on #443
Wait a minute, there are a few issues...
- the extension is not activated automatically
- and one cannot create a new `.ipynb` notebook in the tree view any more :smile:

I'll let you know when this is fixed!

[2020-05-28 12:33] mwouts commented on #443
`pip install jupytext==1.5.0rc4` will work better.

I may still
- revert the renaming of `jupytext/index.js` to `jupytext/jupytext.js` (that makes the dev of the extension slightly simpler, but may cause issues like duplicated Jupytext menus, etc, if the previous version is not properly uninstalled)
- and, if possible, offer more than one declination of the script format (light/percent/nomarker),

[2020-05-29 17:23] sammorley-short opened #527 "Hide metadata header in markdown"
Is it possible, or would it be possible to hide the metedata header added when reading and writing to markdown?

For example, this is the header on one markdown document:

[code]

Instead, it would be great if this could be put in an inline comment so that it isn't visible when the document is rendered outside of jupyter.

(P.s. thank you very much for your work on this, it is a really excellent p

[2020-05-29 20:50] mwouts commented on #527
Hello, thank you @sammorley-short !

Yes that's a great idea - we were discussing something like that yesterday at #517. We were thinking of adding a new option, possibly `comment_notebook_metadata`, to embed the YAML metadata in an HTML comment, so that I will not be rendered on other viewers. Do you think it will fit your own use case?

Note that, with the current version of Jupytext, you can ma

[2020-05-29 21:22] sammorley-short commented on #527
My use-case here is that we are actually deprecating the use of jupyter notebooks altogether by converting any we have to markdown. We do this by initially pairing any notebooks that currently exists, then unpairing them and finally deleting the old notebooks. That way, the markdown versions can be version controlled as well as rendered in GUIs such as GitLab, but anyone who wants to run them as n

[2020-05-29 22:36] mwouts commented on #527
Impressive! Yes that is an option now, especially if you don't need the outputs in GitHub/GitLab.
By the way, if you want to do that on the command line, you can give a try to
[code]
(and if you want to rewrite the full history, have a look at https://jupytext.readthedocs.io/en/latest/faq.html#can-i-re-write-my-git-history-to-use-text-files-instead-of-notebooks )

The header is not required, in th

[2020-05-29 22:53] mwouts commented on #415
Hello @statquant , sorry I did not follow up on your previous comment. I think your question is completely legitimate, and that not displaying the (non-jupyter) metadata in the `.ipynb` notebook may be more natural than mapping them to the raw cell. Would you mind if I reopen this, and give it a try when time permits?

[2020-06-01 15:26] sammorley-short commented on #527
Ah, apologies. I am not an HTML programmer I had assumed that "HTML comment" meant something encapsulated by HTML tags. But the above comment format would be ideal! Nice!

[2020-06-01 20:51] mwouts commented on #265
Hi there, I'm going to close this one, as
- Jupytext 1.5.0 will have the pairing from the root suggested by @technic - use e.g.
[code]
as your `jupytext.toml` file, see #424 (and #384 for the config file)
- Jupytext 1.5.0 will have a 'New Text Notebook' entry in the file menu, allowing the user to create new md or py notebooks (#443).

A RC of Jupytext 1.5.0 is already available (`pip install jupy

[2020-06-01 20:51] #265 closed

[2020-06-01 20:53] mwouts commented on #238
This has been implemented at #384. See https://jupytext.readthedocs.io/en/latest/config.html. Jupytext 1.5.0 is not yet released, but it will come within a few days - do not hesitate to test the RC (`pip install jupytext==1.5.0rc4`). Thanks for the suggestion !

[2020-06-01 20:53] #238 closed

[2020-06-01 20:56] mwouts commented on #412
I don't plan to fix this, so I'll close this issue. If anyone wants Jupytext to work on pypy, and encounters similar issues, please let me know and I will give another look!

[2020-06-01 20:56] #412 closed

[2020-06-01 20:58] mwouts commented on #443
Done at #528

[2020-06-01 20:58] #443 closed

[2020-06-02 07:35] tordbb commented on #524
Hi @mwouts, thanks for your helpful response!

We are saving our notebooks as` .Rmd` and `.ipynb` since it is easier to version control changes in an `Rmd` file than in a messy `ipynb` file with all its outputs and metadata. Still, we are committing to git both `Rmd` files for easy version control, and also `ipynb` so that we can see the notebook outputs without having to rerun the notebook. And w

[2020-06-02 08:49] mwouts commented on #524
Hi @tordbb , you're welcome.

Note that I think there's one more thing we should do, before you change anything to your setup...

If I understand well, you experience that change in magic commands in Jupyter notebook are not reported in the Rmd representation. This is not expected - Jupytext comes with a battery of test to ensure round-trip robustness, so changes should be reported in the Rmd file

[2020-06-02 09:57] mwouts commented on #524
Also, is there any specific reason why you are using R Markdown (i.e., do you use R?). Otherwise, I would suggest you give a try to the Markdown format (and that one does not comment out magic lines, because they are not meant to be executed in that format).

[2020-06-02 23:15] lwasser opened #531 "QUESTION: What needs to be updated for format_Version"
Hey there @mwouts !! still enjoying jupytext a lot!

I have a question about the format_version . I am working with a colleague @nkorinek and each time he pushes a notebook + md or py, and i try to open a notebook i get the error below:

[code]

the notebook can not be opened until i delete said .py or md file. We have worked around it but i see I have `format_version` 1.4 and he has 1.5 (looking

[2020-06-03 00:36] lwasser commented on #531
ok i'm closing this @mwouts sorry to bother you. but creating the issue i realized it WAS indeed an envt issue and i didn't understand how the terminal in jupyter notebook references environments. I was looking at one envt and my notebook was running in another. all resolved! i updated to the newest version. Many thanks for your patience!! closing!

[2020-06-03 07:22] mwouts commented on #531
Hello @lwasser , thanks for sharing this! Yes as you found out, it was the version of jupytext _used by Jupyter_ that was outdated.

Still your example is very interesting. It should be feasible to make the error message more informative, so that anyone is this situation can find the resolution more easily. Let me see if I can add
- the version of Jupytext that wrote the file
- the version of Jupy

[2020-06-03 21:05] HiskiRobo opened #533 "Language addition: .resource files for Robot Framework"
Would it be possible to add .resource file support for Robot Framework.

[https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#resource-files](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#resource-files)

Basically .resource files are stripped .robot files, containing only keywords.

Did not do a pull request for this directly, since this i

[2020-06-03 22:52] mwouts commented on #531
Hi @lwasser , I have prepared the error message below. This is a bit long, but at least all the information is there... what do you think?

[2020-06-03 23:05] mwouts commented on #533
Hi @HiskiRobo , if that can help there are a few languages (scheme and fsharp for instance) with multiple associated extensions, cf.

https://github.com/mwouts/jupytext/blob/6505db05b47b93b92dcdf957f7412ba17ea28133/jupytext/languages.py#L39-L41

With just an additional line in that dictionnary, you should be able to convert Robot notebooks to `.resource` files, and vice versa (and open these files

[2020-06-03 23:30] lwasser commented on #531
hi there @mwouts this looks great!! I have a question. I have jupytext version 1.4.2  which i see as the most current version on pypi and conda forge. i'm just curious is 42.1.1 a version that you have on your computer locally? what is confusing in the above message that i received are the versions. Having the path to the install is super helpful for environment issues! and then i'm just wondering

[2020-06-03 23:39] mwouts commented on #531
Haha... Yes sure version numbers 42 / 12 etc are fake numbers, inserted in a unit test... I just wanted to make sure the test would always raise the error!

And yes, there is one version number for Jupytext, and another one for each file format. The correspondance is documented in [`jupytext.formats`](https://github.com/mwouts/jupytext/blob/6505db05b47b93b92dcdf957f7412ba17ea28133/jupytext/formats

[2020-06-03 23:56] lwasser commented on #531
ahhh ok got it :) then what you have is perfect! there are just a lot of different numbers up there that i was wondering... where did they come from. maybe you have been working nonstop day and night to release jupytext version 42??!! :)

 thank you again. this will be a great and useful update!!

[2020-06-04 07:15] HiskiRobo commented on #533
created mini-PR here, closing this issue.

https://github.com/mwouts/jupytext/pull/535

[2020-06-04 07:15] #533 closed

[2020-06-06 12:18] ravindra-siwach opened #536 "Unable to disable pairing using --update-metadata option"
I have a number of jupyter notebooks in a folder with their linked .py scripts in the same folder. My goal is to keep only the py scripts in the folder without any metadata in them. I thought I could achieve this with the --update-metadata option like shown below and then simply deleting all .ipynb files.

However, I keep getting the following error trying to use this command:

[code]

What am I d

[2020-06-06 12:37] mwouts commented on #536
Hello @ravindra-siwach , can you tell me on which OS you are doing this?

Both your expectations and your command line looks fine, but the double quotes do not seem to make their way to the Python program (there is no double quote in `invalid loads value: '{jupytext:{notebook_metadata_filter:-all}}'`).

Also, note that if you only want to remove the pairing information, you could do something like

[2020-06-06 20:22] mwouts commented on #489
I am seeing another occurence in [this run](https://github.com/mwouts/jupytext/runs/745534054?check_suite_focus=true).

[code]

[2020-06-06 22:52] mwouts commented on #531
:joy:

Thank you @lwasser ! I've followed your suggestion at #534 so that the first part of the message is indeed simpler (no mention of the file format version in the first sentence). So we will have something like this:

[2020-06-06 22:52] #531 closed

[2020-06-07 00:46] Codym48 commented on #517
Ok, I think I actually got a Doxygen-compatible-.py file working using either the [grouping into global modules](https://www.doxygen.nl/manual/grouping.html#modules) or the [member group](https://www.doxygen.nl/manual/grouping.html#memgroup) approach. Basically, any markdown cell would become Doxygen comments for a group that applies to all members (variables, classes, functions, etc.) in the code

[2020-06-07 15:52] ravindra-siwach commented on #536
Hello @mwouts
Thank you for the prompt response and the alternative solution, I'll use that till I can't get the --update-metadata option to work.
**Regarding the OS:**
I am using git-bash on windows. I then ssh to an ubuntu ec2 instance and run the command there in my project. Please note that the issue persists even if I switch the single and double quotes around. So,
`jupytext *.ipynb --update-

[2020-06-07 16:08] mwouts commented on #489
I am seeing yet another error in [this run](https://github.com/mwouts/jupytext/runs/747371927?check_suite_focus=true), but this time it is a nested command that has the timeout...
[code]

[2020-06-07 16:54] mwouts commented on #536
Hi @ravindra-siwach , thank you for your feedback!

Re your command, the inner quotes need to remain double quotes, because this is JSON data. On Windows I think that I got that kind of issue solved with double quotes around the command, and escaped double quotes inside, I mean:
[code]
Can you give a try and confirm?

Note that on linux the initial version of your command is correct:
[code]

[2020-06-07 17:00] mwouts commented on #507
Hello @ronigold , Jupytext 1.5 is available, and should be easier to configure.

The documentation is [here](https://jupytext.readthedocs.io/en/latest/config.html), and basically you just need to create a `jupytext.toml` file with this content:
[code]
in one of the directories listed at
[code]